<main class="ba_main">
  <div class="container before_after">
    <div class="image-container">
      <div class="before_img">
        <img
          class="image-before slider-image"
          src="//www.masterholder.com.mx/cdn/shop/files/mh-4en1-anticaida-negro-16-negro-269826.jpg?v=1737213793&width=600"
          alt="Antes"
        >
        <span class="before_badge ba_badge">Antes</span>
      </div>
      <div class="after_img">
        <img
          class="image-after slider-image"
          src="//www.masterholder.com.mx/cdn/shop/files/mh-4en1-anticaida-negro-16-negro-453841.jpg?v=1737213793&width=600"
          alt="Después"
        >
        <span class="after_badge ba_badge">Después</span>
      </div>
    </div>
    <input type="range" min="0" max="100" value="50" class="ba-slider">
    <div class="slider-line"></div>
  </div>
</main>
