<h2>Prueba de Metaobjetos</h2>
<ul>
    {% for distribuidor in shop.metaobjects.distribuidor.values %}
        <li>{{ distribuidor.nombre }} - {{ distribuidor.ciudad }}</li>
    {% else %}
        <li>No hay distribuidores disponibles.</li>
    {% endfor %}
</ul>
