<section class="count-hours-section" 
  data-cold-hours="{{ cold_hours }}" 
  data-hot-hours="{{ hot_hours }}">
  <div class="t4s-container t4s-main-product__content is--layout_default t4s-product-media__thumbnails_bottom t4s-product-thumb-size__medium"> 
  <div class="count-hours-container">
    <div class="count-hours-item cold">
      <strong>HASTA <span id="cold-counter">0</span> HRS FRÍO</strong>
    </div>
    <div class="count-hours-item hot">
      <strong>HASTA <span id="hot-counter">0</span> HRS CALIENTE</strong>
    </div>
  </div>
  </div>
</section>

<style>
  .count-hours-section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px;
  }

  .count-hours-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    background-color: #fff;
    overflow: hidden;
    margin-top: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  }

  .count-hours-item {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    font-size: 40px;
    font-weight: bold;
    font-family: Arial, sans-serif;
    line-height: 4.375rem;
  }

  .cold {
    color: #007BFF;
    border-right: 2px solid #eee;
  }

  .hot {
    color: #DC3545;
  }

  @media (max-width: 768px) {
    .count-hours-container {
      flex-direction: row;
    }
    .count-hours-item {
      font-size: 24px;
    }
  }
</style>










