<div class="count-hours-container">
  <div class="count-hours-item cold">
    <strong>50 HOURS COLD</strong>
  </div>
  <div class="count-hours-item hot">
    <strong>10 HOURS HOT</strong>
  </div>
</div>


