<div class="performance-icons">
  <div class="icon-item">
    <img src="https://www.swell.com/cdn/shop/files/Icon-Performance_Temp-2.png?v=1665015064&width=44" alt="Therma-Swell Technology">
    <p>THERMA-SWELL® TECHNOLOGY</p>
  </div>
  <div class="icon-item">
    <img src="https://www.swell.com/cdn/shop/files/Icon-Performance_Eco-2.png?v=1665015064&width=44" alt="BPA + BPS Free">
    
  </div>
  <div class="icon-item">
    <img src="https://www.swell.com/cdn/shop/files/Icon-Performance_Triple_Wall-2.png?v=1665015064&width=44" alt="Triple-Layer Insulation">
    
  </div>
  <div class="icon-item">
    <img src="https://cdn.shopify.com/s/files/1/0641/8933/3672/files/temperatura.jpg?v=1741017110" alt="Zero Condensation">
    
  </div>
</div>

<style>
.performance-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  text-align: center;
  margin-left: 100px; /* Ajusta este valor según necesites */
  max-width:150%;
}

.icon-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon-item img {
  width: 44px;
  height: auto;
  margin-bottom: 10px;
}

.icon-item p {
  font-size: 14px;
  font-weight: bold;
  margin: 0;
}
</style>
