<div class="performance-icons">
  <div class="icon-item">
    <img src="https://cdn.shopify.com/s/files/1/0641/8933/3672/files/tapa-5-1_100x100_314773b6-f05f-45db-8d04-096a1cdefeaa.jpg?v=1741017110" alt="Therma-Swell Technology">
    <p></p>
  </div>
  <div class="icon-item">
    <img src="https://cdn.shopify.com/s/files/1/0641/8933/3672/files/ACERO_a24f237f-afae-4707-8c31-a2fe89d62579.jpg?v=1741017110" alt="BPA + BPS Free">
    <p></p>
  </div>
  <div class="icon-item">
    <img src="https://cdn.shopify.com/s/files/1/0641/8933/3672/files/cobre.jpg?v=1741017110" alt="Triple-Layer Insulation">
    <p></p>
  </div>
  <div class="icon-item">
    <img src="https://cdn.shopify.com/s/files/1/0641/8933/3672/files/temperatura.jpg?v=1741017110" alt="Zero Condensation">
    <p></p>
  </div>
</div>

<style>
.performance-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  text-align: center;
  /*margin-left: 100px;  Ajusta este valor según necesites */
  max-width:150%;
  gap: 5rem;
}

.icon-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon-item img {
  width: 100px;
  height: auto;
  margin-bottom: 10px;
}

.icon-item p {
  font-size: 14px;
  font-weight: bold;
  margin: 0;
}
</style>
