<div class="performance-icons">
  <!-- <div class="icon-item">
    <img src="https://cdn.shopify.com/s/files/1/0641/8933/3672/files/6.svg?v=1741383996" alt="Therma-Swell Technology">
    <p>FRÍO HASTA 12 HRS / CALIENTE HASTA 8 HRS</p>
  </div> -->
  <div class="icon-item">
    <img src="https://cdn.shopify.com/s/files/1/0641/8933/3672/files/4.svg?v=1741383996" alt="BPA + BPS Free">
    <p>ACERO INOXIDABLE 304</p>
  </div>
  <div class="icon-item">
    <img src="https://cdn.shopify.com/s/files/1/0641/8933/3672/files/2.svg?v=1741383996" alt="Triple-Layer Insulation">
    <p>TAPA ERGONÓMICA ANTIDERRAME</p>
  </div>
  <div class="icon-item">
    <img src="https://cdn.shopify.com/s/files/1/0641/8933/3672/files/3.svg?v=1741383996" alt="Zero Condensation">
    <p>TAPA ERGONÓMICA ANTIDERRAME</p>
  </div>
  <div class="icon-item">
    <img src="https://cdn.shopify.com/s/files/1/0641/8933/3672/files/1.svg?v=1741383995" alt="Zero Condensation">
    <p>TAPA DOBLE FUNCIÓN</p>
  </div>
  <div class="icon-item">
    <img src="https://cdn.shopify.com/s/files/1/0641/8933/3672/files/5.svg?v=1741383996" alt="Zero Condensation">
    <p>RECUBRIMIENTO DE COBRE</p>
  </div>
</div>

<style>
.performance-icons {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 40px 30px;
  text-align: center;
  max-width: 150%;
  gap: 5rem;
  flex-wrap: wrap;
}

.icon-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 0 1 calc(33.333% - 5rem);
}

.icon-item img {
  min-width: 50px;
  width: 75px;
  height: 75px;
  margin-bottom: 15px;
}

.icon-item p {
  font-size: 11px;
  line-height: 1.2;
  font-weight: bold;
  margin: 0;
}

/* Media Queries */
@media screen and (max-width: 1024px) {
  .performance-icons {
    gap: 3rem;
    padding: 30px 20px;
  }
  
  .icon-item {
    flex: 0 1 calc(33.333% - 3rem);
  }
}

@media screen and (max-width: 768px) {
  .performance-icons {
    gap: 2rem;
  }
  
  .icon-item {
    flex: 0 1 calc(50% - 2rem);
  }
  
  .icon-item img {
    width: 60px;
    height: 60px;
  }
}

@media screen and (max-width: 480px) {
  .performance-icons {
    gap: 1.5rem;
    padding: 20px 15px;
  }
  
  .icon-item {
    flex: 0 1 calc(50% - 1.5rem);
  }
  
  .icon-item img {
    width: 50px;
    height: 50px;
  }
  
  .icon-item p {
    font-size: 10px;
  }
}
</style>
