<div class="performance-icons">
  <div class="icon-item">
    <img src="https://cdn.shopify.com/s/files/1/0641/8933/3672/files/6.svg?v=1741383996" alt="Therma-Swell Technology">
    <p>FRÍO HASTA 12 HRS / CALIENTE HASTA 8 HRS</p>
  </div>
  <div class="icon-item">
    <img src="https://cdn.shopify.com/s/files/1/0641/8933/3672/files/4.svg?v=1741383996" alt="BPA + BPS Free">
    <p>ACERO INOXIDABLE 304</p>
  </div>
  <div class="icon-item">
    <img src="https://cdn.shopify.com/s/files/1/0641/8933/3672/files/2.svg?v=1741383996" alt="Triple-Layer Insulation">
    <p>TAPA ERGONÓMICA ANTIDERRAME</p>
  </div>
  <div class="icon-item">
    <img src="https://cdn.shopify.com/s/files/1/0641/8933/3672/files/3.svg?v=1741383996" alt="Zero Condensation">
    <p>TAPA ERGONÓMICA ANTIDERRAME</p>
  </div>
  <div class="icon-item">
    <img src="https://cdn.shopify.com/s/files/1/0641/8933/3672/files/1.svg?v=1741383995" alt="Zero Condensation">
    <p>TAPA DOBLE FUNCIÓN</p>
  </div>
  <div class="icon-item">
    <img src="https://cdn.shopify.com/s/files/1/0641/8933/3672/files/5.svg?v=1741383996" alt="Zero Condensation">
    <p>RECUBRIMIENTO DE COBRE</p>
  </div>
</div>

<style>
.performance-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  text-align: center;
  /*margin-left: 100px;  Ajusta este valor según necesites */
  max-width:150%;
  gap: 5rem;
}

.icon-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon-item img {
  min-width: 100px;
  width: 100px;
  height: auto;
  margin-bottom: 10px;
}

.icon-item p {
  font-size: 14px;
  font-weight: bold;
  margin: 0;
}
</style>
