<style>
  .img_fija {
    background-image: url('{{ product.metafields.custom.imagen_fija | file_url }}');
    width: 105px;
    height: 105px;
    background-size: cover;
    background-position: center;
    border: 2px solid black;
  }
</style>

<div class="img_fija"></div>

