<div class="img-fija" style="background-image: url('{{ product.metafields.custom.imagen_fija | file_url }}'); width: 106.5px; height: 106.5px; background-size: cover; background-position: center; "></div>
