


<div class="t4s-carousel__nav-scroller is__position-bottom">
  <div class="t4s-row t4s-row-mt t4s-row-cols-4 t4s_ratioadapt t4s_position_8 t4s_cover t4s-g-lg-10 t4s-g-5 t4s-carousel__nav carousel__nav--template--18308566941864__main carousel__nav-hover1 is--nav-ready">
<div class="t4s-col-item t4s-carousel__nav-item " >
  <div class=" t4s-carousel__nav-inner t4s-bg-11 t4s-child-lazyloaded" style="--aspect-ratioapt:1.0;--mw-media:1080px;background: url(//www.masterholder.com.mx/cdn/shop/files/mh-4en1-anticaida-negro-16-negro-728955.jpg?v=1737213793&amp;width=1)">
    <img alt="" loading="lazy" class="lazyautosizes ls-is-cached lazyloadt4sed"  src="{{ product.metafields.custom.imagen_fija | file_url }}">
   
  </div>
</div>

</div>
</div>