



<div class="t4s-col-item t4s-carousel__nav-item " data-grname="" data-grpvl="" data-mdtype="image" data-vhost="">
  <div class="t4s_ratio t4s-carousel__nav-inner t4s-bg-11 t4s-child-lazyloaded" style="--aspect-ratioapt:1.0;--mw-media:1080px;background: url(//www.masterholder.com.mx/cdn/shop/files/mh-4en1-anticaida-negro-16-negro-728955.jpg?v=1737213793&amp;width=1)">
    <img alt="" loading="lazy" class="lazyautosizes ls-is-cached lazyloadt4sed" data-widths="[80, 120, 160 ,180, 360, 540]" data-optimumx="1.8" data-sizes="auto" src="{{ product.metafields.custom.imagen_fija | file_url }}">
    <span class="t4s-thumbnail__badge t4s-not-style t4s-op-0" aria-hidden="true"></span>
  </div>
</div>

