



<div class="t4s-col-item  " >
  <div class="t4s_ratio  t4s-bg-11 " style="--aspect-ratioapt:1.0;--mw-media:1080px;background: url({{ product.metafields.custom.imagen_fija | file_url }})">
    <img alt="" loading="lazy" class="lazyautosizes ls-is-cached lazyloadt4sed" data-widths="[80, 120, 160 ,180, 360, 540]" data-optimumx="1.8" data-sizes="auto" src="{{ product.metafields.custom.imagen_fija | file_url }}">
   
  </div>
</div>

