<div class="img_fija producto-imagen-galeria" style="background-image: url('{{ product.metafields.custom.imagen_fija | file_url }}');"></div>

<style>
  .producto-imagen-galeria {
    margin-top: 5px;
    width: 133px;
    height: 133px;
    background-size: cover;
    background-position: center;
    border: 1px solid #000;
    border-radius: 5px;
    z-index: 1;
    background-color: transparent;
  }

  /* Dispositivos móviles pequeños */
  @media screen and (max-width: 480px) {
    .producto-imagen-galeria {
      width: 70px;
      height: 70px;
      margin-top: 3px;
      margin-left: 25px;
    }
  }

  /* Tablets y dispositivos medianos */
  @media screen and (min-width: 481px) and (max-width: 768px) {
    .producto-imagen-galeria {
      width: 110px;
      height: 110px;
      margin-top: 4px;
    }
  }

  /* Pantallas grandes */
  @media screen and (min-width: 1200px) {
    .producto-imagen-galeria {
      width: 134px;
      height: 134px;
    }
  }
</style>

