<div class="img_fija" style="background-image: url('{{ product.metafields.custom.imagen_fija | file_url }}'); width: 105px; height: 105px; background-size: cover; background-position: center; "></div>

