<div class="img_fija" style="background-image: url('{{ product.metafields.custom.imagen_fija | file_url }}');  margin-top: 5px; width: 134px; height: 134px; background-size: cover; background-position: center; border: 1px solid #000; border-radius: 5px; "></div>

