<div class="img-fija" style="background-image: url('{{ product.metafields.custom.imagen_fija | file_url }}'); width: 97.5px; height: 100.5px; background-size: cover; background-position: center;"></div>
