<div class="img_fija" style="background-image: url('{{ product.metafields.custom.imagen_fija | file_url }}'); width: 139px; height: 139px; background-size: cover; background-position: center; border: 1px solid #000; "></div>

