{% assign color_variant = product.selected_or_first_available_variant.metafields.custom.color_variant %}

{% if color_variant != blank %}
  <div class="product-color" style="background-color: {{ color_variant }}; width: 50px; height: 50px; border-radius: 50%; margin-top: 10px;"></div>
{% else %}
  <div class="product-color" style="background-color: #ccc; width: 50px; height: 50px; border-radius: 50%; margin-top: 10px;">No color</div>
{% endif %}

<style>
  .product-color {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-top: 10px;
    transition: background-color 0.3s ease;
  }
</style>
