{% schema %}
{
  "name": "Promotions Block",
  "tag": "section",
  "class": "promotions",
  "settings": [],
  "blocks": [
    {
      "type": "feature",
      "name": "Feature",
      "settings": [
        {
          "type": "image_picker",
          "id": "icon",
          "label": "Ícono"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Título",
          "default": "DISHWASHER SAFE"
        },
        {
          "type": "textarea",
          "id": "description",
          "label": "Descripción",
          "default": "Most of our products are dishwasher-safe. Easy to clean and stand the test of time."
        },
        {
          "type": "color",
          "id": "background",
          "label": "Color de fondo",
          "default": "#4a4c51"
        }
      ]
    }
  ],
  "max_blocks": 4,
  "presets": [
    {
      "name": "Promotions Block",
      "blocks": [
        { "type": "feature" },
        { "type": "feature" },
        { "type": "feature" },
        { "type": "feature" }
      ]
    }
  ]
}
{% endschema %}

{% stylesheet %}
#DIV_1 {
    block-size: 420.862px;
    border-block-end-color: rgb(33, 37, 41);
    border-block-start-color: rgb(33, 37, 41);
    border-inline-end-color: rgb(33, 37, 41);
    border-inline-start-color: rgb(33, 37, 41);
    box-sizing: border-box;
    caret-color: rgb(33, 37, 41);
    color: rgb(33, 37, 41);
    column-rule-color: rgb(33, 37, 41);
    height: 420.862px;
    inline-size: 1520.8px;
    letter-spacing: 0.4px;
    perspective-origin: 760.4px 210.425px;
    text-decoration: none solid rgb(33, 37, 41);
    text-emphasis-color: rgb(33, 37, 41);
    text-rendering: optimizespeed;
    text-size-adjust: 100%;
    transform-origin: 760.4px 210.431px;
    width: 1520.8px;
    border: 0px none rgb(33, 37, 41);
    font: 16px / 24px "DINOT - Cond Bold";
    outline: rgb(33, 37, 41) none 0px;
}/*#DIV_1*/

#DIV_1:after {
    border-block-end-color: rgb(33, 37, 41);
    border-block-start-color: rgb(33, 37, 41);
    border-inline-end-color: rgb(33, 37, 41);
    border-inline-start-color: rgb(33, 37, 41);
    box-sizing: border-box;
    caret-color: rgb(33, 37, 41);
    color: rgb(33, 37, 41);
    column-rule-color: rgb(33, 37, 41);
    letter-spacing: 0.4px;
    text-decoration: none solid rgb(33, 37, 41);
    text-emphasis-color: rgb(33, 37, 41);
    text-rendering: optimizespeed;
    text-size-adjust: 100%;
    border: 0px none rgb(33, 37, 41);
    font: 16px / 24px "DINOT - Cond Bold";
    outline: rgb(33, 37, 41) none 0px;
}/*#DIV_1:after*/

#DIV_1:before {
    border-block-end-color: rgb(33, 37, 41);
    border-block-start-color: rgb(33, 37, 41);
    border-inline-end-color: rgb(33, 37, 41);
    border-inline-start-color: rgb(33, 37, 41);
    box-sizing: border-box;
    caret-color: rgb(33, 37, 41);
    color: rgb(33, 37, 41);
    column-rule-color: rgb(33, 37, 41);
    letter-spacing: 0.4px;
    text-decoration: none solid rgb(33, 37, 41);
    text-emphasis-color: rgb(33, 37, 41);
    text-rendering: optimizespeed;
    text-size-adjust: 100%;
    border: 0px none rgb(33, 37, 41);
    font: 16px / 24px "DINOT - Cond Bold";
    outline: rgb(33, 37, 41) none 0px;
}/*#DIV_1:before*/

#LINK_2, #STYLE_25 {
    border-block-end-color: rgb(33, 37, 41);
    border-block-start-color: rgb(33, 37, 41);
    border-inline-end-color: rgb(33, 37, 41);
    border-inline-start-color: rgb(33, 37, 41);
    box-sizing: border-box;
    caret-color: rgb(33, 37, 41);
    color: rgb(33, 37, 41);
    column-rule-color: rgb(33, 37, 41);
    letter-spacing: 0.4px;
    text-decoration: none solid rgb(33, 37, 41);
    text-emphasis-color: rgb(33, 37, 41);
    text-rendering: optimizespeed;
    text-size-adjust: 100%;
    border: 0px none rgb(33, 37, 41);
    font: 16px / 24px "DINOT - Cond Bold";
    outline: rgb(33, 37, 41) none 0px;
}/*#LINK_2, #STYLE_25*/

#LINK_2:after, #STYLE_25:after {
    border-block-end-color: rgb(33, 37, 41);
    border-block-start-color: rgb(33, 37, 41);
    border-inline-end-color: rgb(33, 37, 41);
    border-inline-start-color: rgb(33, 37, 41);
    box-sizing: border-box;
    caret-color: rgb(33, 37, 41);
    color: rgb(33, 37, 41);
    column-rule-color: rgb(33, 37, 41);
    letter-spacing: 0.4px;
    text-decoration: none solid rgb(33, 37, 41);
    text-emphasis-color: rgb(33, 37, 41);
    text-rendering: optimizespeed;
    text-size-adjust: 100%;
    border: 0px none rgb(33, 37, 41);
    font: 16px / 24px "DINOT - Cond Bold";
    outline: rgb(33, 37, 41) none 0px;
}/*#LINK_2:after, #STYLE_25:after*/

#LINK_2:before, #STYLE_25:before {
    border-block-end-color: rgb(33, 37, 41);
    border-block-start-color: rgb(33, 37, 41);
    border-inline-end-color: rgb(33, 37, 41);
    border-inline-start-color: rgb(33, 37, 41);
    box-sizing: border-box;
    caret-color: rgb(33, 37, 41);
    color: rgb(33, 37, 41);
    column-rule-color: rgb(33, 37, 41);
    letter-spacing: 0.4px;
    text-decoration: none solid rgb(33, 37, 41);
    text-emphasis-color: rgb(33, 37, 41);
    text-rendering: optimizespeed;
    text-size-adjust: 100%;
    border: 0px none rgb(33, 37, 41);
    font: 16px / 24px "DINOT - Cond Bold";
    outline: rgb(33, 37, 41) none 0px;
}/*#LINK_2:before, #STYLE_25:before*/

#DIV_3 {
    block-size: 420.862px;
    border-block-end-color: rgb(33, 37, 41);
    border-block-start-color: rgb(33, 37, 41);
    border-inline-end-color: rgb(33, 37, 41);
    border-inline-start-color: rgb(33, 37, 41);
    box-sizing: border-box;
    caret-color: rgb(33, 37, 41);
    color: rgb(33, 37, 41);
    column-rule-color: rgb(33, 37, 41);
    height: 420.862px;
    inline-size: 1520.8px;
    letter-spacing: 0.4px;
    padding-block-end: 4px;
    padding-block-start: 4px;
    padding-inline-end: 12px;
    padding-inline-start: 12px;
    perspective-origin: 760.4px 210.425px;
    text-decoration: none solid rgb(33, 37, 41);
    text-emphasis-color: rgb(33, 37, 41);
    text-rendering: optimizespeed;
    text-size-adjust: 100%;
    transform-origin: 760.4px 210.431px;
    width: 1520.8px;
    border: 0px none rgb(33, 37, 41);
    font: 16px / 24px "DINOT - Cond Bold";
    outline: rgb(33, 37, 41) none 0px;
    padding: 4px 12px;
}/*#DIV_3*/

#DIV_3:after {
    border-block-end-color: rgb(33, 37, 41);
    border-block-start-color: rgb(33, 37, 41);
    border-inline-end-color: rgb(33, 37, 41);
    border-inline-start-color: rgb(33, 37, 41);
    box-sizing: border-box;
    caret-color: rgb(33, 37, 41);
    color: rgb(33, 37, 41);
    column-rule-color: rgb(33, 37, 41);
    letter-spacing: 0.4px;
    text-decoration: none solid rgb(33, 37, 41);
    text-emphasis-color: rgb(33, 37, 41);
    text-rendering: optimizespeed;
    text-size-adjust: 100%;
    border: 0px none rgb(33, 37, 41);
    font: 16px / 24px "DINOT - Cond Bold";
    outline: rgb(33, 37, 41) none 0px;
}/*#DIV_3:after*/

#DIV_3:before {
    border-block-end-color: rgb(33, 37, 41);
    border-block-start-color: rgb(33, 37, 41);
    border-inline-end-color: rgb(33, 37, 41);
    border-inline-start-color: rgb(33, 37, 41);
    box-sizing: border-box;
    caret-color: rgb(33, 37, 41);
    color: rgb(33, 37, 41);
    column-rule-color: rgb(33, 37, 41);
    letter-spacing: 0.4px;
    text-decoration: none solid rgb(33, 37, 41);
    text-emphasis-color: rgb(33, 37, 41);
    text-rendering: optimizespeed;
    text-size-adjust: 100%;
    border: 0px none rgb(33, 37, 41);
    font: 16px / 24px "DINOT - Cond Bold";
    outline: rgb(33, 37, 41) none 0px;
}/*#DIV_3:before*/

#DIV_4 {
    block-size: 412.862px;
    border-block-end-color: rgb(33, 37, 41);
    border-block-start-color: rgb(33, 37, 41);
    border-inline-end-color: rgb(33, 37, 41);
    border-inline-start-color: rgb(33, 37, 41);
    box-sizing: border-box;
    caret-color: rgb(33, 37, 41);
    color: rgb(33, 37, 41);
    column-rule-color: rgb(33, 37, 41);
    display: flex;
    height: 412.862px;
    inline-size: 1520.8px;
    letter-spacing: 0.4px;
    margin-inline-end: -12px;
    margin-inline-start: -12px;
    perspective-origin: 760.4px 206.425px;
    text-decoration: none solid rgb(33, 37, 41);
    text-emphasis-color: rgb(33, 37, 41);
    text-rendering: optimizespeed;
    text-size-adjust: 100%;
    transform-origin: 760.4px 206.431px;
    width: 1520.8px;
    border: 0px none rgb(33, 37, 41);
    flex-flow: row wrap;
    font: 16px / 24px "DINOT - Cond Bold";
    margin: 0px -12px;
    outline: rgb(33, 37, 41) none 0px;
}/*#DIV_4*/

#DIV_4:after {
    border-block-end-color: rgb(33, 37, 41);
    border-block-start-color: rgb(33, 37, 41);
    border-inline-end-color: rgb(33, 37, 41);
    border-inline-start-color: rgb(33, 37, 41);
    box-sizing: border-box;
    caret-color: rgb(33, 37, 41);
    color: rgb(33, 37, 41);
    column-rule-color: rgb(33, 37, 41);
    display: block;
    letter-spacing: 0.4px;
    text-decoration: none solid rgb(33, 37, 41);
    text-emphasis-color: rgb(33, 37, 41);
    text-rendering: optimizespeed;
    text-size-adjust: 100%;
    border: 0px none rgb(33, 37, 41);
    font: 16px / 24px "DINOT - Cond Bold";
    outline: rgb(33, 37, 41) none 0px;
}/*#DIV_4:after*/

#DIV_4:before {
    border-block-end-color: rgb(33, 37, 41);
    border-block-start-color: rgb(33, 37, 41);
    border-inline-end-color: rgb(33, 37, 41);
    border-inline-start-color: rgb(33, 37, 41);
    box-sizing: border-box;
    caret-color: rgb(33, 37, 41);
    color: rgb(33, 37, 41);
    column-rule-color: rgb(33, 37, 41);
    display: block;
    letter-spacing: 0.4px;
    text-decoration: none solid rgb(33, 37, 41);
    text-emphasis-color: rgb(33, 37, 41);
    text-rendering: optimizespeed;
    text-size-adjust: 100%;
    border: 0px none rgb(33, 37, 41);
    font: 16px / 24px "DINOT - Cond Bold";
    outline: rgb(33, 37, 41) none 0px;
}/*#DIV_4:before*/

#DIV_5, #DIV_10, #DIV_15 {
    block-size: 412.862px;
    border-block-end-color: rgb(255, 255, 255);
    border-block-end-style: solid;
    border-block-end-width: 3.2px;
    border-block-start-color: rgb(255, 255, 255);
    border-block-start-style: solid;
    border-block-start-width: 3.2px;
    border-inline-end-color: rgb(255, 255, 255);
    border-inline-end-style: solid;
    border-inline-end-width: 3.2px;
    border-inline-start-color: rgb(255, 255, 255);
    border-inline-start-style: solid;
    border-inline-start-width: 3.2px;
    box-sizing: border-box;
    caret-color: rgb(33, 37, 41);
    color: rgb(33, 37, 41);
    column-rule-color: rgb(33, 37, 41);
    height: 412.862px;
    inline-size: 380.2px;
    letter-spacing: 0.4px;
    max-inline-size: 100%;
    max-width: 100%;
    min-block-size: auto;
    min-height: auto;
    min-inline-size: auto;
    min-width: auto;
    padding-inline-end: 12px;
    padding-inline-start: 12px;
    perspective-origin: 190.1px 206.425px;
    text-align: center;
    text-decoration: none solid rgb(33, 37, 41);
    text-emphasis-color: rgb(33, 37, 41);
    text-rendering: optimizespeed;
    text-size-adjust: 100%;
    transform-origin: 190.1px 206.431px;
    width: 380.2px;
    background: rgb(74, 76, 81) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 3.2px solid rgb(255, 255, 255);
    flex: 0 0 auto;
    font: 16px / 24px "DINOT - Cond Bold";
    outline: rgb(33, 37, 41) none 0px;
    padding: 0px 12px;
}/*#DIV_5, #DIV_10, #DIV_15*/

#DIV_5:after, #DIV_10:after, #DIV_15:after {
    border-block-end-color: rgb(33, 37, 41);
    border-block-start-color: rgb(33, 37, 41);
    border-inline-end-color: rgb(33, 37, 41);
    border-inline-start-color: rgb(33, 37, 41);
    box-sizing: border-box;
    caret-color: rgb(33, 37, 41);
    color: rgb(33, 37, 41);
    column-rule-color: rgb(33, 37, 41);
    letter-spacing: 0.4px;
    text-align: center;
    text-decoration: none solid rgb(33, 37, 41);
    text-emphasis-color: rgb(33, 37, 41);
    text-rendering: optimizespeed;
    text-size-adjust: 100%;
    border: 0px none rgb(33, 37, 41);
    font: 16px / 24px "DINOT - Cond Bold";
    outline: rgb(33, 37, 41) none 0px;
}/*#DIV_5:after, #DIV_10:after, #DIV_15:after*/

#DIV_5:before, #DIV_10:before, #DIV_15:before {
    border-block-end-color: rgb(33, 37, 41);
    border-block-start-color: rgb(33, 37, 41);
    border-inline-end-color: rgb(33, 37, 41);
    border-inline-start-color: rgb(33, 37, 41);
    box-sizing: border-box;
    caret-color: rgb(33, 37, 41);
    color: rgb(33, 37, 41);
    column-rule-color: rgb(33, 37, 41);
    letter-spacing: 0.4px;
    text-align: center;
    text-decoration: none solid rgb(33, 37, 41);
    text-emphasis-color: rgb(33, 37, 41);
    text-rendering: optimizespeed;
    text-size-adjust: 100%;
    border: 0px none rgb(33, 37, 41);
    font: 16px / 24px "DINOT - Cond Bold";
    outline: rgb(33, 37, 41) none 0px;
}/*#DIV_5:before, #DIV_10:before, #DIV_15:before*/

#IMAGE-ELEMENT_6, #IMAGE-ELEMENT_11, #IMAGE-ELEMENT_16, #IMAGE-ELEMENT_21 {
    border-block-end-color: rgb(33, 37, 41);
    border-block-start-color: rgb(33, 37, 41);
    border-inline-end-color: rgb(33, 37, 41);
    border-inline-start-color: rgb(33, 37, 41);
    box-sizing: border-box;
    caret-color: rgb(33, 37, 41);
    color: rgb(33, 37, 41);
    column-rule-color: rgb(33, 37, 41);
    letter-spacing: 0.4px;
    perspective-origin: 0px 0px;
    text-align: center;
    text-decoration: none solid rgb(33, 37, 41);
    text-emphasis-color: rgb(33, 37, 41);
    text-rendering: optimizespeed;
    text-size-adjust: 100%;
    transform-origin: 0px 0px;
    border: 0px none rgb(33, 37, 41);
    font: 16px / 24px "DINOT - Cond Bold";
    outline: rgb(33, 37, 41) none 0px;
}/*#IMAGE-ELEMENT_6, #IMAGE-ELEMENT_11, #IMAGE-ELEMENT_16, #IMAGE-ELEMENT_21*/

#IMAGE-ELEMENT_6:after, #IMAGE-ELEMENT_11:after, #IMAGE-ELEMENT_16:after, #IMAGE-ELEMENT_21:after {
    border-block-end-color: rgb(33, 37, 41);
    border-block-start-color: rgb(33, 37, 41);
    border-inline-end-color: rgb(33, 37, 41);
    border-inline-start-color: rgb(33, 37, 41);
    box-sizing: border-box;
    caret-color: rgb(33, 37, 41);
    color: rgb(33, 37, 41);
    column-rule-color: rgb(33, 37, 41);
    letter-spacing: 0.4px;
    text-align: center;
    text-decoration: none solid rgb(33, 37, 41);
    text-emphasis-color: rgb(33, 37, 41);
    text-rendering: optimizespeed;
    text-size-adjust: 100%;
    border: 0px none rgb(33, 37, 41);
    font: 16px / 24px "DINOT - Cond Bold";
    outline: rgb(33, 37, 41) none 0px;
}/*#IMAGE-ELEMENT_6:after, #IMAGE-ELEMENT_11:after, #IMAGE-ELEMENT_16:after, #IMAGE-ELEMENT_21:after*/

#IMAGE-ELEMENT_6:before, #IMAGE-ELEMENT_11:before, #IMAGE-ELEMENT_16:before, #IMAGE-ELEMENT_21:before {
    border-block-end-color: rgb(33, 37, 41);
    border-block-start-color: rgb(33, 37, 41);
    border-inline-end-color: rgb(33, 37, 41);
    border-inline-start-color: rgb(33, 37, 41);
    box-sizing: border-box;
    caret-color: rgb(33, 37, 41);
    color: rgb(33, 37, 41);
    column-rule-color: rgb(33, 37, 41);
    letter-spacing: 0.4px;
    text-align: center;
    text-decoration: none solid rgb(33, 37, 41);
    text-emphasis-color: rgb(33, 37, 41);
    text-rendering: optimizespeed;
    text-size-adjust: 100%;
    border: 0px none rgb(33, 37, 41);
    font: 16px / 24px "DINOT - Cond Bold";
    outline: rgb(33, 37, 41) none 0px;
}/*#IMAGE-ELEMENT_6:before, #IMAGE-ELEMENT_11:before, #IMAGE-ELEMENT_16:before, #IMAGE-ELEMENT_21:before*/

#IMG_7, #IMG_12, #IMG_17, #IMG_22 {
    block-size: 140px;
    border-block-end-color: rgb(33, 37, 41);
    border-block-start-color: rgb(33, 37, 41);
    border-inline-end-color: rgb(33, 37, 41);
    border-inline-start-color: rgb(33, 37, 41);
    box-sizing: border-box;
    caret-color: rgb(33, 37, 41);
    color: rgb(33, 37, 41);
    column-rule-color: rgb(33, 37, 41);
    display: block;
    height: 140px;
    inline-size: 140px;
    letter-spacing: 0.4px;
    margin-block-end: 24px;
    margin-block-start: 48px;
    margin-inline-end: 104.9px;
    margin-inline-start: 104.9px;
    max-inline-size: 140px;
    max-width: 140px;
    perspective-origin: 70px 70px;
    text-align: center;
    text-decoration: none solid rgb(33, 37, 41);
    text-emphasis-color: rgb(33, 37, 41);
    text-rendering: optimizespeed;
    text-size-adjust: 100%;
    transform-origin: 70px 70px;
    vertical-align: middle;
    width: 140px;
    animation: 0.5s cubic-bezier(0.29, 0.65, 0.58, 1) 0s 1 normal forwards running fade-in;
    border: 0px none rgb(33, 37, 41);
    font: 16px / 24px "DINOT - Cond Bold";
    margin: 48px 104.9px 24px;
    outline: rgb(33, 37, 41) none 0px;
}/*#IMG_7, #IMG_12, #IMG_17, #IMG_22*/

#IMG_7:after, #IMG_12:after, #IMG_17:after, #IMG_22:after {
    border-block-end-color: rgb(33, 37, 41);
    border-block-start-color: rgb(33, 37, 41);
    border-inline-end-color: rgb(33, 37, 41);
    border-inline-start-color: rgb(33, 37, 41);
    box-sizing: border-box;
    caret-color: rgb(33, 37, 41);
    color: rgb(33, 37, 41);
    column-rule-color: rgb(33, 37, 41);
    letter-spacing: 0.4px;
    text-align: center;
    text-decoration: none solid rgb(33, 37, 41);
    text-emphasis-color: rgb(33, 37, 41);
    text-rendering: optimizespeed;
    text-size-adjust: 100%;
    border: 0px none rgb(33, 37, 41);
    font: 16px / 24px "DINOT - Cond Bold";
    outline: rgb(33, 37, 41) none 0px;
}/*#IMG_7:after, #IMG_12:after, #IMG_17:after, #IMG_22:after*/

#IMG_7:before, #IMG_12:before, #IMG_17:before, #IMG_22:before {
    border-block-end-color: rgb(33, 37, 41);
    border-block-start-color: rgb(33, 37, 41);
    border-inline-end-color: rgb(33, 37, 41);
    border-inline-start-color: rgb(33, 37, 41);
    box-sizing: border-box;
    caret-color: rgb(33, 37, 41);
    color: rgb(33, 37, 41);
    column-rule-color: rgb(33, 37, 41);
    letter-spacing: 0.4px;
    text-align: center;
    text-decoration: none solid rgb(33, 37, 41);
    text-emphasis-color: rgb(33, 37, 41);
    text-rendering: optimizespeed;
    text-size-adjust: 100%;
    border: 0px none rgb(33, 37, 41);
    font: 16px / 24px "DINOT - Cond Bold";
    outline: rgb(33, 37, 41) none 0px;
}/*#IMG_7:before, #IMG_12:before, #IMG_17:before, #IMG_22:before*/

#H1_8, #H1_13, #H1_18, #H1_23 {
    block-size: 35px;
    border-block-end-color: rgb(255, 255, 255);
    border-block-start-color: rgb(255, 255, 255);
    border-inline-end-color: rgb(255, 255, 255);
    border-inline-start-color: rgb(255, 255, 255);
    box-sizing: border-box;
    caret-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    column-rule-color: rgb(255, 255, 255);
    height: 35px;
    inline-size: 349.8px;
    margin-block-end: 8px;
    margin-block-start: 0px;
    perspective-origin: 174.9px 17.5px;
    text-align: center;
    text-decoration: none solid rgb(255, 255, 255);
    text-emphasis-color: rgb(255, 255, 255);
    text-rendering: optimizespeed;
    text-size-adjust: 100%;
    text-transform: uppercase;
    transform-origin: 174.9px 17.5px;
    width: 349.8px;
    border: 0px none rgb(255, 255, 255);
    font: 500 33px / 35px "DINOT - Cond Bold";
    margin: 0px 0px 8px;
    outline: rgb(255, 255, 255) none 0px;
}/*#H1_8, #H1_13, #H1_18, #H1_23*/

#H1_8:after, #H1_13:after, #H1_18:after, #H1_23:after {
    border-block-end-color: rgb(255, 255, 255);
    border-block-start-color: rgb(255, 255, 255);
    border-inline-end-color: rgb(255, 255, 255);
    border-inline-start-color: rgb(255, 255, 255);
    box-sizing: border-box;
    caret-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    column-rule-color: rgb(255, 255, 255);
    text-align: center;
    text-decoration: none solid rgb(255, 255, 255);
    text-emphasis-color: rgb(255, 255, 255);
    text-rendering: optimizespeed;
    text-size-adjust: 100%;
    text-transform: uppercase;
    border: 0px none rgb(255, 255, 255);
    font: 500 33px / 35px "DINOT - Cond Bold";
    outline: rgb(255, 255, 255) none 0px;
}/*#H1_8:after, #H1_13:after, #H1_18:after, #H1_23:after*/

#H1_8:before, #H1_13:before, #H1_18:before, #H1_23:before {
    border-block-end-color: rgb(255, 255, 255);
    border-block-start-color: rgb(255, 255, 255);
    border-inline-end-color: rgb(255, 255, 255);
    border-inline-start-color: rgb(255, 255, 255);
    box-sizing: border-box;
    caret-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    column-rule-color: rgb(255, 255, 255);
    text-align: center;
    text-decoration: none solid rgb(255, 255, 255);
    text-emphasis-color: rgb(255, 255, 255);
    text-rendering: optimizespeed;
    text-size-adjust: 100%;
    text-transform: uppercase;
    border: 0px none rgb(255, 255, 255);
    font: 500 33px / 35px "DINOT - Cond Bold";
    outline: rgb(255, 255, 255) none 0px;
}/*#H1_8:before, #H1_13:before, #H1_18:before, #H1_23:before*/

#P_9 {
    block-size: 135.462px;
    border-block-end-color: rgb(255, 255, 255);
    border-block-start-color: rgb(255, 255, 255);
    border-inline-end-color: rgb(255, 255, 255);
    border-inline-start-color: rgb(255, 255, 255);
    box-sizing: border-box;
    caret-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    column-rule-color: rgb(255, 255, 255);
    height: 135.462px;
    inline-size: 349.8px;
    margin-block-end: 16px;
    margin-block-start: 0px;
    padding-block-end: 38.475px;
    padding-block-start: 6.9875px;
    padding-inline-end: 20.9875px;
    padding-inline-start: 20.9875px;
    perspective-origin: 174.9px 67.725px;
    text-align: center;
    text-decoration: none solid rgb(255, 255, 255);
    text-emphasis-color: rgb(255, 255, 255);
    text-rendering: optimizespeed;
    text-size-adjust: 100%;
    transform-origin: 174.9px 67.7312px;
    width: 349.8px;
    border: 0px none rgb(255, 255, 255);
    font: 19px / 30px DINOT;
    margin: 0px 0px 16px;
    outline: rgb(255, 255, 255) none 0px;
    padding: 6.9875px 20.9875px 38.475px;
}/*#P_9*/

#P_9:after {
    border-block-end-color: rgb(255, 255, 255);
    border-block-start-color: rgb(255, 255, 255);
    border-inline-end-color: rgb(255, 255, 255);
    border-inline-start-color: rgb(255, 255, 255);
    box-sizing: border-box;
    caret-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    column-rule-color: rgb(255, 255, 255);
    text-align: center;
    text-decoration: none solid rgb(255, 255, 255);
    text-emphasis-color: rgb(255, 255, 255);
    text-rendering: optimizespeed;
    text-size-adjust: 100%;
    border: 0px none rgb(255, 255, 255);
    font: 19px / 30px DINOT;
    outline: rgb(255, 255, 255) none 0px;
}/*#P_9:after*/

#P_9:before {
    border-block-end-color: rgb(255, 255, 255);
    border-block-start-color: rgb(255, 255, 255);
    border-inline-end-color: rgb(255, 255, 255);
    border-inline-start-color: rgb(255, 255, 255);
    box-sizing: border-box;
    caret-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    column-rule-color: rgb(255, 255, 255);
    text-align: center;
    text-decoration: none solid rgb(255, 255, 255);
    text-emphasis-color: rgb(255, 255, 255);
    text-rendering: optimizespeed;
    text-size-adjust: 100%;
    border: 0px none rgb(255, 255, 255);
    font: 19px / 30px DINOT;
    outline: rgb(255, 255, 255) none 0px;
}/*#P_9:before*/

#P_14, #P_19, #P_24 {
    block-size: 105.463px;
    border-block-end-color: rgb(255, 255, 255);
    border-block-start-color: rgb(255, 255, 255);
    border-inline-end-color: rgb(255, 255, 255);
    border-inline-start-color: rgb(255, 255, 255);
    box-sizing: border-box;
    caret-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    column-rule-color: rgb(255, 255, 255);
    height: 105.463px;
    inline-size: 349.8px;
    margin-block-end: 16px;
    margin-block-start: 0px;
    padding-block-end: 38.475px;
    padding-block-start: 6.9875px;
    padding-inline-end: 20.9875px;
    padding-inline-start: 20.9875px;
    perspective-origin: 174.9px 52.725px;
    text-align: center;
    text-decoration: none solid rgb(255, 255, 255);
    text-emphasis-color: rgb(255, 255, 255);
    text-rendering: optimizespeed;
    text-size-adjust: 100%;
    transform-origin: 174.9px 52.7313px;
    width: 349.8px;
    border: 0px none rgb(255, 255, 255);
    font: 19px / 30px DINOT;
    margin: 0px 0px 16px;
    outline: rgb(255, 255, 255) none 0px;
    padding: 6.9875px 20.9875px 38.475px;
}/*#P_14, #P_19, #P_24*/

#P_14:after, #P_19:after, #P_24:after {
    border-block-end-color: rgb(255, 255, 255);
    border-block-start-color: rgb(255, 255, 255);
    border-inline-end-color: rgb(255, 255, 255);
    border-inline-start-color: rgb(255, 255, 255);
    box-sizing: border-box;
    caret-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    column-rule-color: rgb(255, 255, 255);
    text-align: center;
    text-decoration: none solid rgb(255, 255, 255);
    text-emphasis-color: rgb(255, 255, 255);
    text-rendering: optimizespeed;
    text-size-adjust: 100%;
    border: 0px none rgb(255, 255, 255);
    font: 19px / 30px DINOT;
    outline: rgb(255, 255, 255) none 0px;
}/*#P_14:after, #P_19:after, #P_24:after*/

#P_14:before, #P_19:before, #P_24:before {
    border-block-end-color: rgb(255, 255, 255);
    border-block-start-color: rgb(255, 255, 255);
    border-inline-end-color: rgb(255, 255, 255);
    border-inline-start-color: rgb(255, 255, 255);
    box-sizing: border-box;
    caret-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    column-rule-color: rgb(255, 255, 255);
    text-align: center;
    text-decoration: none solid rgb(255, 255, 255);
    text-emphasis-color: rgb(255, 255, 255);
    text-rendering: optimizespeed;
    text-size-adjust: 100%;
    border: 0px none rgb(255, 255, 255);
    font: 19px / 30px DINOT;
    outline: rgb(255, 255, 255) none 0px;
}/*#P_14:before, #P_19:before, #P_24:before*/

#DIV_20 {
    block-size: 412.862px;
    border-block-end-color: rgb(255, 255, 255);
    border-block-end-style: solid;
    border-block-end-width: 3.2px;
    border-block-start-color: rgb(255, 255, 255);
    border-block-start-style: solid;
    border-block-start-width: 3.2px;
    border-inline-end-color: rgb(255, 255, 255);
    border-inline-end-style: solid;
    border-inline-end-width: 3.2px;
    border-inline-start-color: rgb(255, 255, 255);
    border-inline-start-style: solid;
    border-inline-start-width: 3.2px;
    box-sizing: border-box;
    caret-color: rgb(33, 37, 41);
    color: rgb(33, 37, 41);
    column-rule-color: rgb(33, 37, 41);
    height: 412.862px;
    inline-size: 380.2px;
    letter-spacing: 0.4px;
    max-inline-size: 100%;
    max-width: 100%;
    min-block-size: auto;
    min-height: auto;
    min-inline-size: auto;
    min-width: auto;
    padding-inline-end: 12px;
    padding-inline-start: 12px;
    perspective-origin: 190.1px 206.425px;
    text-align: center;
    text-decoration: none solid rgb(33, 37, 41);
    text-emphasis-color: rgb(33, 37, 41);
    text-rendering: optimizespeed;
    text-size-adjust: 100%;
    transform-origin: 190.1px 206.431px;
    width: 380.2px;
    background: rgb(27, 126, 172) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 3.2px solid rgb(255, 255, 255);
    flex: 0 0 auto;
    font: 16px / 24px "DINOT - Cond Bold";
    outline: rgb(33, 37, 41) none 0px;
    padding: 0px 12px;
}/*#DIV_20*/

#DIV_20:after {
    border-block-end-color: rgb(33, 37, 41);
    border-block-start-color: rgb(33, 37, 41);
    border-inline-end-color: rgb(33, 37, 41);
    border-inline-start-color: rgb(33, 37, 41);
    box-sizing: border-box;
    caret-color: rgb(33, 37, 41);
    color: rgb(33, 37, 41);
    column-rule-color: rgb(33, 37, 41);
    letter-spacing: 0.4px;
    text-align: center;
    text-decoration: none solid rgb(33, 37, 41);
    text-emphasis-color: rgb(33, 37, 41);
    text-rendering: optimizespeed;
    text-size-adjust: 100%;
    border: 0px none rgb(33, 37, 41);
    font: 16px / 24px "DINOT - Cond Bold";
    outline: rgb(33, 37, 41) none 0px;
}/*#DIV_20:after*/

#DIV_20:before {
    border-block-end-color: rgb(33, 37, 41);
    border-block-start-color: rgb(33, 37, 41);
    border-inline-end-color: rgb(33, 37, 41);
    border-inline-start-color: rgb(33, 37, 41);
    box-sizing: border-box;
    caret-color: rgb(33, 37, 41);
    color: rgb(33, 37, 41);
    column-rule-color: rgb(33, 37, 41);
    letter-spacing: 0.4px;
    text-align: center;
    text-decoration: none solid rgb(33, 37, 41);
    text-emphasis-color: rgb(33, 37, 41);
    text-rendering: optimizespeed;
    text-size-adjust: 100%;
    border: 0px none rgb(33, 37, 41);
    font: 16px / 24px "DINOT - Cond Bold";
    outline: rgb(33, 37, 41) none 0px;
}/*#DIV_20:before*/


{% endstylesheet %}

<div id="DIV_1">
	<link href="https://thermos.com/cdn/shop/t/330/assets/about-us-promotions.css?v=177514683529489901561742848197" rel="stylesheet" type="text/css" id="LINK_2" />
	<div id="DIV_3">
		<div id="DIV_4">
			<div id="DIV_5">
				<image id="IMAGE-ELEMENT_6">
					<img src="https://thermos.com/cdn/shop/files/4-layers_1.5x.png?v=1622652198&amp;width=200" alt="" width="200" height="200.0" id="IMG_7" />
				</image>
				<h1 id="H1_8">
					DISHWASHER SAFE
				</h1>
				<p id="P_9">
					Most of our products are dishwasher-safe. Easy to clean and stand the test of time.
				</p>
			</div>
			<div id="DIV_10">
				<image id="IMAGE-ELEMENT_11">
					<img src="https://thermos.com/cdn/shop/files/2-layers_1.5x_2_3c050c98-8bdd-41bf-9eb7-687deb053b78.png?v=1625048929&amp;width=200" alt="" width="200" height="200.0" id="IMG_12" />
				</image>
				<h1 id="H1_13">
					REUSABLE
				</h1>
				<p id="P_14">
					Durable and reusable. Say goodbye to single use.
				</p>
			</div>
			<div id="DIV_15">
				<image id="IMAGE-ELEMENT_16">
					<img src="https://thermos.com/cdn/shop/files/5-layers_1.5x_2c7ca3be-9cdf-48ed-89c1-a4f66f29191a.png?v=1625048958&amp;width=200" alt="" width="200" height="200.0" id="IMG_17" />
				</image>
				<h1 id="H1_18">
					VACUUM INSULATED
				</h1>
				<p id="P_19">
					Hots stay Hot. Colds stay Cold. You stay focused on everything else.
				</p>
			</div>
			<div id="DIV_20">
				<image id="IMAGE-ELEMENT_21">
					<img src="https://thermos.com/cdn/shop/files/7-layers_1.5x.png?v=1622652505&amp;width=200" alt="" width="200" height="200.0" id="IMG_22" />
				</image>
				<h1 id="H1_23">
					KID-FRIENDLY
				</h1>
				<p id="P_24">
					Kids can open and closeit all by themselves.
				</p>
			</div>
		</div>
	</div>
	<style id="STYLE_25">.promotions .container-block_kxNhGJ{
      background-color : #4a4c51
    }
  
    .promotions .container-block_94rM8L{
      background-color : #4a4c51
    }
  
    .promotions .container-block_E36t9t{
      background-color : #4a4c51
    }
  
    .promotions .container-block_MjPtr3{
      background-color : #1b7eac
    }
	</style>
</div>
