{% schema %}
{
  "name": "Trapeze Section",
  "tag": "section",
  "class": "shopify_trapeze-section",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Título",
      "default": "HOT STAYS HOT.<br>COLD STAYS COLD."
    },
    {
      "type": "textarea",
      "id": "description",
      "label": "Descripción",
      "default": "Our durable double wall stainless steel vacuum insulated technology, you are certain to find a product that fits your lifestyle while delivering superior performance with exceptional durability."
    },
    {
      "type": "image_picker",
      "id": "icon_1",
      "label": "Ícono 1"
    },
    {
      "type": "image_picker",
      "id": "icon_2",
      "label": "Ícono 2"
    },
    {
      "type": "image_picker",
      "id": "background_image",
      "label": "Imagen de fondo"
    }
  ],
  "presets": [
    {
      "name": "Trapeze Section",
      "category": "Custom"
    }
  ]
}
{% endschema %}

{% style %}
#DIV_1 {
    block-size: 617px;
    border-block-end-color: rgb(33, 37, 41);
    border-block-start-color: rgb(33, 37, 41);
    border-inline-end-color: rgb(33, 37, 41);
    border-inline-start-color: rgb(33, 37, 41);
    box-sizing: border-box;
    caret-color: rgb(33, 37, 41);
    color: rgb(33, 37, 41);
    column-rule-color: rgb(33, 37, 41);
    height: 617px;
    inline-size: 1520.8px;
    letter-spacing: 0.4px;
    perspective-origin: 760.4px 308.5px;
    text-decoration: none solid rgb(33, 37, 41);
    text-emphasis-color: rgb(33, 37, 41);
    text-rendering: optimizespeed;
    text-size-adjust: 100%;
    transform-origin: 760.4px 308.5px;
    width: 1520.8px;
    border: 0px none rgb(33, 37, 41);
    font: 16px / 24px "DINOT - Cond Bold";
    outline: rgb(33, 37, 41) none 0px;
}/*#DIV_1*/

#DIV_1:after {
    border-block-end-color: rgb(33, 37, 41);
    border-block-start-color: rgb(33, 37, 41);
    border-inline-end-color: rgb(33, 37, 41);
    border-inline-start-color: rgb(33, 37, 41);
    box-sizing: border-box;
    caret-color: rgb(33, 37, 41);
    color: rgb(33, 37, 41);
    column-rule-color: rgb(33, 37, 41);
    letter-spacing: 0.4px;
    text-decoration: none solid rgb(33, 37, 41);
    text-emphasis-color: rgb(33, 37, 41);
    text-rendering: optimizespeed;
    text-size-adjust: 100%;
    border: 0px none rgb(33, 37, 41);
    font: 16px / 24px "DINOT - Cond Bold";
    outline: rgb(33, 37, 41) none 0px;
}/*#DIV_1:after*/

#DIV_1:before {
    border-block-end-color: rgb(33, 37, 41);
    border-block-start-color: rgb(33, 37, 41);
    border-inline-end-color: rgb(33, 37, 41);
    border-inline-start-color: rgb(33, 37, 41);
    box-sizing: border-box;
    caret-color: rgb(33, 37, 41);
    color: rgb(33, 37, 41);
    column-rule-color: rgb(33, 37, 41);
    letter-spacing: 0.4px;
    text-decoration: none solid rgb(33, 37, 41);
    text-emphasis-color: rgb(33, 37, 41);
    text-rendering: optimizespeed;
    text-size-adjust: 100%;
    border: 0px none rgb(33, 37, 41);
    font: 16px / 24px "DINOT - Cond Bold";
    outline: rgb(33, 37, 41) none 0px;
}/*#DIV_1:before*/

#LINK_2, #IMAGE-ELEMENT_22, #STYLE_37 {
    border-block-end-color: rgb(33, 37, 41);
    border-block-start-color: rgb(33, 37, 41);
    border-inline-end-color: rgb(33, 37, 41);
    border-inline-start-color: rgb(33, 37, 41);
    box-sizing: border-box;
    caret-color: rgb(33, 37, 41);
    color: rgb(33, 37, 41);
    column-rule-color: rgb(33, 37, 41);
    letter-spacing: 0.4px;
    text-decoration: none solid rgb(33, 37, 41);
    text-emphasis-color: rgb(33, 37, 41);
    text-rendering: optimizespeed;
    text-size-adjust: 100%;
    border: 0px none rgb(33, 37, 41);
    font: 16px / 24px "DINOT - Cond Bold";
    outline: rgb(33, 37, 41) none 0px;
}/*#LINK_2, #IMAGE-ELEMENT_22, #STYLE_37*/

#LINK_2:after, #IMAGE-ELEMENT_22:after, #STYLE_37:after {
    border-block-end-color: rgb(33, 37, 41);
    border-block-start-color: rgb(33, 37, 41);
    border-inline-end-color: rgb(33, 37, 41);
    border-inline-start-color: rgb(33, 37, 41);
    box-sizing: border-box;
    caret-color: rgb(33, 37, 41);
    color: rgb(33, 37, 41);
    column-rule-color: rgb(33, 37, 41);
    letter-spacing: 0.4px;
    text-decoration: none solid rgb(33, 37, 41);
    text-emphasis-color: rgb(33, 37, 41);
    text-rendering: optimizespeed;
    text-size-adjust: 100%;
    border: 0px none rgb(33, 37, 41);
    font: 16px / 24px "DINOT - Cond Bold";
    outline: rgb(33, 37, 41) none 0px;
}/*#LINK_2:after, #IMAGE-ELEMENT_22:after, #STYLE_37:after*/

#LINK_2:before, #IMAGE-ELEMENT_22:before, #STYLE_37:before {
    border-block-end-color: rgb(33, 37, 41);
    border-block-start-color: rgb(33, 37, 41);
    border-inline-end-color: rgb(33, 37, 41);
    border-inline-start-color: rgb(33, 37, 41);
    box-sizing: border-box;
    caret-color: rgb(33, 37, 41);
    color: rgb(33, 37, 41);
    column-rule-color: rgb(33, 37, 41);
    letter-spacing: 0.4px;
    text-decoration: none solid rgb(33, 37, 41);
    text-emphasis-color: rgb(33, 37, 41);
    text-rendering: optimizespeed;
    text-size-adjust: 100%;
    border: 0px none rgb(33, 37, 41);
    font: 16px / 24px "DINOT - Cond Bold";
    outline: rgb(33, 37, 41) none 0px;
}/*#LINK_2:before, #IMAGE-ELEMENT_22:before, #STYLE_37:before*/

#DIV_3 {
    block-size: 617px;
    border-block-end-color: rgb(33, 37, 41);
    border-block-start-color: rgb(33, 37, 41);
    border-inline-end-color: rgb(33, 37, 41);
    border-inline-start-color: rgb(33, 37, 41);
    box-sizing: border-box;
    caret-color: rgb(33, 37, 41);
    color: rgb(33, 37, 41);
    column-rule-color: rgb(33, 37, 41);
    display: flex;
    height: 617px;
    inline-size: 1520.8px;
    letter-spacing: 0.4px;
    max-block-size: 617px;
    max-height: 617px;
    min-block-size: 300px;
    min-height: 300px;
    perspective-origin: 760.4px 308.5px;
    text-decoration: none solid rgb(33, 37, 41);
    text-emphasis-color: rgb(33, 37, 41);
    text-rendering: optimizespeed;
    text-size-adjust: 100%;
    transform-origin: 760.4px 308.5px;
    width: 1520.8px;
    border: 0px none rgb(33, 37, 41);
    font: 16px / 24px "DINOT - Cond Bold";
    outline: rgb(33, 37, 41) none 0px;
    overflow: hidden;
}/*#DIV_3*/

#DIV_3:after {
    border-block-end-color: rgb(33, 37, 41);
    border-block-start-color: rgb(33, 37, 41);
    border-inline-end-color: rgb(33, 37, 41);
    border-inline-start-color: rgb(33, 37, 41);
    box-sizing: border-box;
    caret-color: rgb(33, 37, 41);
    color: rgb(33, 37, 41);
    column-rule-color: rgb(33, 37, 41);
    display: block;
    letter-spacing: 0.4px;
    text-decoration: none solid rgb(33, 37, 41);
    text-emphasis-color: rgb(33, 37, 41);
    text-rendering: optimizespeed;
    text-size-adjust: 100%;
    border: 0px none rgb(33, 37, 41);
    font: 16px / 24px "DINOT - Cond Bold";
    outline: rgb(33, 37, 41) none 0px;
}/*#DIV_3:after*/

#DIV_3:before {
    border-block-end-color: rgb(33, 37, 41);
    border-block-start-color: rgb(33, 37, 41);
    border-inline-end-color: rgb(33, 37, 41);
    border-inline-start-color: rgb(33, 37, 41);
    box-sizing: border-box;
    caret-color: rgb(33, 37, 41);
    color: rgb(33, 37, 41);
    column-rule-color: rgb(33, 37, 41);
    display: block;
    letter-spacing: 0.4px;
    text-decoration: none solid rgb(33, 37, 41);
    text-emphasis-color: rgb(33, 37, 41);
    text-rendering: optimizespeed;
    text-size-adjust: 100%;
    border: 0px none rgb(33, 37, 41);
    font: 16px / 24px "DINOT - Cond Bold";
    outline: rgb(33, 37, 41) none 0px;
}/*#DIV_3:before*/

#DIV_4 {
    align-items: center;
    block-size: 617px;
    border-block-end-color: rgb(33, 37, 41);
    border-block-start-color: rgb(33, 37, 41);
    border-inline-end-color: rgb(33, 37, 41);
    border-inline-start-color: rgb(33, 37, 41);
    bottom: 0px;
    box-sizing: border-box;
    caret-color: rgb(33, 37, 41);
    color: rgb(33, 37, 41);
    column-rule-color: rgb(33, 37, 41);
    display: flex;
    height: 617px;
    inline-size: 539.225px;
    inset-block-end: 0px;
    inset-block-start: 0px;
    inset-inline-end: 0px;
    inset-inline-start: 0px;
    justify-content: flex-end;
    left: 0px;
    letter-spacing: 0.4px;
    min-block-size: auto;
    min-height: auto;
    min-inline-size: auto;
    min-width: auto;
    padding-block-end: 76.0375px;
    padding-block-start: 76.0375px;
    padding-inline-end: 96px;
    padding-inline-start: 96px;
    perspective-origin: 269.612px 308.5px;
    position: relative;
    right: 0px;
    text-decoration: none solid rgb(33, 37, 41);
    text-emphasis-color: rgb(33, 37, 41);
    text-rendering: optimizespeed;
    text-size-adjust: 100%;
    top: 0px;
    transform-origin: 269.612px 308.5px;
    width: 539.225px;
    background: rgb(61, 163, 211) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(33, 37, 41);
    font: 16px / 24px "DINOT - Cond Bold";
    outline: rgb(33, 37, 41) none 0px;
    padding: 76.0375px 96px;
}/*#DIV_4*/

#DIV_4:after {
    block-size: 617px;
    border-block-end-color: rgb(33, 37, 41);
    border-block-start-color: rgb(33, 37, 41);
    border-inline-end-color: rgb(33, 37, 41);
    border-inline-start-color: rgb(33, 37, 41);
    bottom: 0px;
    box-sizing: border-box;
    caret-color: rgb(33, 37, 41);
    color: rgb(33, 37, 41);
    column-rule-color: rgb(33, 37, 41);
    content: '""';
    display: block;
    height: 617px;
    inline-size: 128px;
    inset-block-end: 0px;
    inset-block-start: 0px;
    inset-inline-end: -66px;
    inset-inline-start: 477.225px;
    left: 477.225px;
    letter-spacing: 0.4px;
    perspective-origin: 64px 308.5px;
    position: absolute;
    right: -66px;
    text-decoration: none solid rgb(33, 37, 41);
    text-emphasis-color: rgb(33, 37, 41);
    text-rendering: optimizespeed;
    text-size-adjust: 100%;
    top: 0px;
    transform: matrix(1, 0, -0.176327, 1, 0, 0);
    transform-origin: 64px 308.5px;
    width: 128px;
    background: rgb(61, 163, 211) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(33, 37, 41);
    font: 16px / 24px "DINOT - Cond Bold";
    outline: rgb(33, 37, 41) none 0px;
}/*#DIV_4:after*/

#DIV_4:before {
    block-size: 100%;
    border-block-end-color: rgb(33, 37, 41);
    border-block-start-color: rgb(33, 37, 41);
    border-inline-end-color: rgb(33, 37, 41);
    border-inline-start-color: rgb(33, 37, 41);
    box-sizing: border-box;
    caret-color: rgb(33, 37, 41);
    color: rgb(33, 37, 41);
    column-rule-color: rgb(33, 37, 41);
    content: '""';
    display: none;
    height: 100%;
    inline-size: 30px;
    inset-block-start: 0px;
    inset-inline-start: 0px;
    left: 0px;
    letter-spacing: 0.4px;
    position: absolute;
    text-decoration: none solid rgb(33, 37, 41);
    text-emphasis-color: rgb(33, 37, 41);
    text-rendering: optimizespeed;
    text-size-adjust: 100%;
    top: 0px;
    width: 30px;
    background: rgba(0, 0, 0, 0) url("https://thermos.com/cdn/shop/files/hatching_1.png?v=1624281530") repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(33, 37, 41);
    font: 16px / 24px "DINOT - Cond Bold";
    outline: rgb(33, 37, 41) none 0px;
}/*#DIV_4:before*/

#DIV_5 {
    block-size: 464.925px;
    border-block-end-color: rgb(33, 37, 41);
    border-block-start-color: rgb(33, 37, 41);
    border-inline-end-color: rgb(33, 37, 41);
    border-inline-start-color: rgb(33, 37, 41);
    box-sizing: border-box;
    caret-color: rgb(33, 37, 41);
    color: rgb(33, 37, 41);
    column-rule-color: rgb(33, 37, 41);
    display: flex;
    height: 464.925px;
    inline-size: 347.225px;
    justify-content: space-between;
    letter-spacing: 0.4px;
    max-inline-size: 611px;
    max-width: 611px;
    min-block-size: auto;
    min-height: auto;
    min-inline-size: auto;
    min-width: auto;
    perspective-origin: 173.613px 232.462px;
    text-decoration: none solid rgb(33, 37, 41);
    text-emphasis-color: rgb(33, 37, 41);
    text-rendering: optimizespeed;
    text-size-adjust: 100%;
    transform-origin: 173.613px 232.462px;
    width: 347.225px;
    z-index: 1;
    border: 0px none rgb(33, 37, 41);
    flex-flow: column nowrap;
    font: 16px / 24px "DINOT - Cond Bold";
    outline: rgb(33, 37, 41) none 0px;
}/*#DIV_5*/

#DIV_5:after {
    border-block-end-color: rgb(33, 37, 41);
    border-block-start-color: rgb(33, 37, 41);
    border-inline-end-color: rgb(33, 37, 41);
    border-inline-start-color: rgb(33, 37, 41);
    box-sizing: border-box;
    caret-color: rgb(33, 37, 41);
    color: rgb(33, 37, 41);
    column-rule-color: rgb(33, 37, 41);
    display: block;
    letter-spacing: 0.4px;
    text-decoration: none solid rgb(33, 37, 41);
    text-emphasis-color: rgb(33, 37, 41);
    text-rendering: optimizespeed;
    text-size-adjust: 100%;
    border: 0px none rgb(33, 37, 41);
    font: 16px / 24px "DINOT - Cond Bold";
    outline: rgb(33, 37, 41) none 0px;
}/*#DIV_5:after*/

#DIV_5:before {
    border-block-end-color: rgb(33, 37, 41);
    border-block-start-color: rgb(33, 37, 41);
    border-inline-end-color: rgb(33, 37, 41);
    border-inline-start-color: rgb(33, 37, 41);
    box-sizing: border-box;
    caret-color: rgb(33, 37, 41);
    color: rgb(33, 37, 41);
    column-rule-color: rgb(33, 37, 41);
    display: block;
    letter-spacing: 0.4px;
    text-decoration: none solid rgb(33, 37, 41);
    text-emphasis-color: rgb(33, 37, 41);
    text-rendering: optimizespeed;
    text-size-adjust: 100%;
    border: 0px none rgb(33, 37, 41);
    font: 16px / 24px "DINOT - Cond Bold";
    outline: rgb(33, 37, 41) none 0px;
}/*#DIV_5:before*/

#DIV_6 {
    block-size: 304px;
    border-block-end-color: rgb(33, 37, 41);
    border-block-start-color: rgb(33, 37, 41);
    border-inline-end-color: rgb(33, 37, 41);
    border-inline-start-color: rgb(33, 37, 41);
    box-sizing: border-box;
    caret-color: rgb(33, 37, 41);
    color: rgb(33, 37, 41);
    column-rule-color: rgb(33, 37, 41);
    height: 304px;
    inline-size: 347.225px;
    letter-spacing: 0.4px;
    min-block-size: auto;
    min-height: auto;
    min-inline-size: auto;
    min-width: auto;
    padding-block-start: 24px;
    perspective-origin: 173.613px 152px;
    text-decoration: none solid rgb(33, 37, 41);
    text-emphasis-color: rgb(33, 37, 41);
    text-rendering: optimizespeed;
    text-size-adjust: 100%;
    transform-origin: 173.613px 152px;
    width: 347.225px;
    border: 0px none rgb(33, 37, 41);
    font: 16px / 24px "DINOT - Cond Bold";
    outline: rgb(33, 37, 41) none 0px;
    padding: 24px 0px 0px;
}/*#DIV_6*/

#DIV_6:after {
    border-block-end-color: rgb(33, 37, 41);
    border-block-start-color: rgb(33, 37, 41);
    border-inline-end-color: rgb(33, 37, 41);
    border-inline-start-color: rgb(33, 37, 41);
    box-sizing: border-box;
    caret-color: rgb(33, 37, 41);
    color: rgb(33, 37, 41);
    column-rule-color: rgb(33, 37, 41);
    letter-spacing: 0.4px;
    text-decoration: none solid rgb(33, 37, 41);
    text-emphasis-color: rgb(33, 37, 41);
    text-rendering: optimizespeed;
    text-size-adjust: 100%;
    border: 0px none rgb(33, 37, 41);
    font: 16px / 24px "DINOT - Cond Bold";
    outline: rgb(33, 37, 41) none 0px;
}/*#DIV_6:after*/

#DIV_6:before {
    border-block-end-color: rgb(33, 37, 41);
    border-block-start-color: rgb(33, 37, 41);
    border-inline-end-color: rgb(33, 37, 41);
    border-inline-start-color: rgb(33, 37, 41);
    box-sizing: border-box;
    caret-color: rgb(33, 37, 41);
    color: rgb(33, 37, 41);
    column-rule-color: rgb(33, 37, 41);
    letter-spacing: 0.4px;
    text-decoration: none solid rgb(33, 37, 41);
    text-emphasis-color: rgb(33, 37, 41);
    text-rendering: optimizespeed;
    text-size-adjust: 100%;
    border: 0px none rgb(33, 37, 41);
    font: 16px / 24px "DINOT - Cond Bold";
    outline: rgb(33, 37, 41) none 0px;
}/*#DIV_6:before*/

#H2_7 {
    block-size: 280px;
    border-block-end-color: rgb(255, 255, 255);
    border-block-start-color: rgb(255, 255, 255);
    border-inline-end-color: rgb(255, 255, 255);
    border-inline-start-color: rgb(255, 255, 255);
    box-sizing: border-box;
    caret-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    column-rule-color: rgb(255, 255, 255);
    height: 280px;
    inline-size: 347.225px;
    margin-block-end: 0px;
    margin-block-start: 0px;
    perspective-origin: 173.613px 140px;
    text-decoration: none solid rgb(255, 255, 255);
    text-emphasis-color: rgb(255, 255, 255);
    text-rendering: optimizespeed;
    text-size-adjust: 100%;
    text-transform: uppercase;
    transform-origin: 173.613px 140px;
    width: 347.225px;
    border: 0px none rgb(255, 255, 255);
    font: 700 70px / 70px "DINOT - Cond Bold";
    margin: 0px;
    outline: rgb(255, 255, 255) none 0px;
}/*#H2_7*/

#H2_7:after {
    border-block-end-color: rgb(255, 255, 255);
    border-block-start-color: rgb(255, 255, 255);
    border-inline-end-color: rgb(255, 255, 255);
    border-inline-start-color: rgb(255, 255, 255);
    box-sizing: border-box;
    caret-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    column-rule-color: rgb(255, 255, 255);
    text-decoration: none solid rgb(255, 255, 255);
    text-emphasis-color: rgb(255, 255, 255);
    text-rendering: optimizespeed;
    text-size-adjust: 100%;
    text-transform: uppercase;
    border: 0px none rgb(255, 255, 255);
    font: 700 70px / 70px "DINOT - Cond Bold";
    outline: rgb(255, 255, 255) none 0px;
}/*#H2_7:after*/

#H2_7:before {
    border-block-end-color: rgb(255, 255, 255);
    border-block-start-color: rgb(255, 255, 255);
    border-inline-end-color: rgb(255, 255, 255);
    border-inline-start-color: rgb(255, 255, 255);
    box-sizing: border-box;
    caret-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    column-rule-color: rgb(255, 255, 255);
    text-decoration: none solid rgb(255, 255, 255);
    text-emphasis-color: rgb(255, 255, 255);
    text-rendering: optimizespeed;
    text-size-adjust: 100%;
    text-transform: uppercase;
    border: 0px none rgb(255, 255, 255);
    font: 700 70px / 70px "DINOT - Cond Bold";
    outline: rgb(255, 255, 255) none 0px;
}/*#H2_7:before*/

#BR_8 {
    border-block-end-color: rgb(255, 255, 255);
    border-block-start-color: rgb(255, 255, 255);
    border-inline-end-color: rgb(255, 255, 255);
    border-inline-start-color: rgb(255, 255, 255);
    box-sizing: border-box;
    caret-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 0px 0px;
    text-decoration: none solid rgb(255, 255, 255);
    text-emphasis-color: rgb(255, 255, 255);
    text-rendering: optimizespeed;
    text-size-adjust: 100%;
    text-transform: uppercase;
    transform-origin: 0px 0px;
    border: 0px none rgb(255, 255, 255);
    font: 700 70px / 70px "DINOT - Cond Bold";
    outline: rgb(255, 255, 255) none 0px;
}/*#BR_8*/

#BR_8:after {
    border-block-end-color: rgb(255, 255, 255);
    border-block-start-color: rgb(255, 255, 255);
    border-inline-end-color: rgb(255, 255, 255);
    border-inline-start-color: rgb(255, 255, 255);
    box-sizing: border-box;
    caret-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    column-rule-color: rgb(255, 255, 255);
    text-decoration: none solid rgb(255, 255, 255);
    text-emphasis-color: rgb(255, 255, 255);
    text-rendering: optimizespeed;
    text-size-adjust: 100%;
    text-transform: uppercase;
    border: 0px none rgb(255, 255, 255);
    font: 700 70px / 70px "DINOT - Cond Bold";
    outline: rgb(255, 255, 255) none 0px;
}/*#BR_8:after*/

#BR_8:before {
    border-block-end-color: rgb(255, 255, 255);
    border-block-start-color: rgb(255, 255, 255);
    border-inline-end-color: rgb(255, 255, 255);
    border-inline-start-color: rgb(255, 255, 255);
    box-sizing: border-box;
    caret-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    column-rule-color: rgb(255, 255, 255);
    text-decoration: none solid rgb(255, 255, 255);
    text-emphasis-color: rgb(255, 255, 255);
    text-rendering: optimizespeed;
    text-size-adjust: 100%;
    text-transform: uppercase;
    border: 0px none rgb(255, 255, 255);
    font: 700 70px / 70px "DINOT - Cond Bold";
    outline: rgb(255, 255, 255) none 0px;
}/*#BR_8:before*/

#DIV_9 {
    block-size: 127.5px;
    border-block-end-color: rgb(33, 37, 41);
    border-block-start-color: rgb(33, 37, 41);
    border-inline-end-color: rgb(33, 37, 41);
    border-inline-start-color: rgb(33, 37, 41);
    box-sizing: border-box;
    caret-color: rgb(33, 37, 41);
    color: rgb(33, 37, 41);
    column-rule-color: rgb(33, 37, 41);
    height: 127.5px;
    inline-size: 347.225px;
    letter-spacing: 0.4px;
    min-block-size: auto;
    min-height: auto;
    min-inline-size: auto;
    min-width: auto;
    perspective-origin: 173.613px 63.75px;
    text-decoration: none solid rgb(33, 37, 41);
    text-emphasis-color: rgb(33, 37, 41);
    text-rendering: optimizespeed;
    text-size-adjust: 100%;
    transform-origin: 173.613px 63.75px;
    width: 347.225px;
    border: 0px none rgb(33, 37, 41);
    font: 16px / 24px "DINOT - Cond Bold";
    outline: rgb(33, 37, 41) none 0px;
}/*#DIV_9*/

#DIV_9:after {
    border-block-end-color: rgb(33, 37, 41);
    border-block-start-color: rgb(33, 37, 41);
    border-inline-end-color: rgb(33, 37, 41);
    border-inline-start-color: rgb(33, 37, 41);
    box-sizing: border-box;
    caret-color: rgb(33, 37, 41);
    color: rgb(33, 37, 41);
    column-rule-color: rgb(33, 37, 41);
    letter-spacing: 0.4px;
    text-decoration: none solid rgb(33, 37, 41);
    text-emphasis-color: rgb(33, 37, 41);
    text-rendering: optimizespeed;
    text-size-adjust: 100%;
    border: 0px none rgb(33, 37, 41);
    font: 16px / 24px "DINOT - Cond Bold";
    outline: rgb(33, 37, 41) none 0px;
}/*#DIV_9:after*/

#DIV_9:before {
    border-block-end-color: rgb(33, 37, 41);
    border-block-start-color: rgb(33, 37, 41);
    border-inline-end-color: rgb(33, 37, 41);
    border-inline-start-color: rgb(33, 37, 41);
    box-sizing: border-box;
    caret-color: rgb(33, 37, 41);
    color: rgb(33, 37, 41);
    column-rule-color: rgb(33, 37, 41);
    letter-spacing: 0.4px;
    text-decoration: none solid rgb(33, 37, 41);
    text-emphasis-color: rgb(33, 37, 41);
    text-rendering: optimizespeed;
    text-size-adjust: 100%;
    border: 0px none rgb(33, 37, 41);
    font: 16px / 24px "DINOT - Cond Bold";
    outline: rgb(33, 37, 41) none 0px;
}/*#DIV_9:before*/

#P_10 {
    block-size: 127.5px;
    border-block-end-color: rgb(255, 255, 255);
    border-block-start-color: rgb(255, 255, 255);
    border-inline-end-color: rgb(255, 255, 255);
    border-inline-start-color: rgb(255, 255, 255);
    box-sizing: border-box;
    caret-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    column-rule-color: rgb(255, 255, 255);
    height: 127.5px;
    inline-size: 347.225px;
    margin-block-end: 0px;
    margin-block-start: 0px;
    perspective-origin: 173.613px 63.75px;
    text-decoration: none solid rgb(255, 255, 255);
    text-emphasis-color: rgb(255, 255, 255);
    text-rendering: optimizespeed;
    text-size-adjust: 100%;
    transform-origin: 173.613px 63.75px;
    width: 347.225px;
    border: 0px none rgb(255, 255, 255);
    font: 700 19px / 25.5px DINOT;
    margin: 0px;
    outline: rgb(255, 255, 255) none 0px;
}/*#P_10*/

#P_10:after {
    border-block-end-color: rgb(255, 255, 255);
    border-block-start-color: rgb(255, 255, 255);
    border-inline-end-color: rgb(255, 255, 255);
    border-inline-start-color: rgb(255, 255, 255);
    box-sizing: border-box;
    caret-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    column-rule-color: rgb(255, 255, 255);
    text-decoration: none solid rgb(255, 255, 255);
    text-emphasis-color: rgb(255, 255, 255);
    text-rendering: optimizespeed;
    text-size-adjust: 100%;
    border: 0px none rgb(255, 255, 255);
    font: 700 19px / 25.5px DINOT;
    outline: rgb(255, 255, 255) none 0px;
}/*#P_10:after*/

#P_10:before {
    border-block-end-color: rgb(255, 255, 255);
    border-block-start-color: rgb(255, 255, 255);
    border-inline-end-color: rgb(255, 255, 255);
    border-inline-start-color: rgb(255, 255, 255);
    box-sizing: border-box;
    caret-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    column-rule-color: rgb(255, 255, 255);
    text-decoration: none solid rgb(255, 255, 255);
    text-emphasis-color: rgb(255, 255, 255);
    text-rendering: optimizespeed;
    text-size-adjust: 100%;
    border: 0px none rgb(255, 255, 255);
    font: 700 19px / 25.5px DINOT;
    outline: rgb(255, 255, 255) none 0px;
}/*#P_10:before*/

#DIV_11 {
    block-size: 98px;
    border-block-end-color: rgb(33, 37, 41);
    border-block-start-color: rgb(33, 37, 41);
    border-inline-end-color: rgb(33, 37, 41);
    border-inline-start-color: rgb(33, 37, 41);
    box-sizing: border-box;
    caret-color: rgb(33, 37, 41);
    color: rgb(33, 37, 41);
    column-rule-color: rgb(33, 37, 41);
    height: 98px;
    inline-size: 347.225px;
    letter-spacing: 0.4px;
    min-block-size: auto;
    min-height: auto;
    min-inline-size: auto;
    min-width: auto;
    padding-inline-end: 12px;
    padding-inline-start: 12px;
    perspective-origin: 173.613px 49px;
    text-decoration: none solid rgb(33, 37, 41);
    text-emphasis-color: rgb(33, 37, 41);
    text-rendering: optimizespeed;
    text-size-adjust: 100%;
    transform-origin: 173.613px 49px;
    width: 347.225px;
    border: 0px none rgb(33, 37, 41);
    font: 16px / 24px "DINOT - Cond Bold";
    outline: rgb(33, 37, 41) none 0px;
    padding: 0px 12px;
}/*#DIV_11*/

#DIV_11:after {
    border-block-end-color: rgb(33, 37, 41);
    border-block-start-color: rgb(33, 37, 41);
    border-inline-end-color: rgb(33, 37, 41);
    border-inline-start-color: rgb(33, 37, 41);
    box-sizing: border-box;
    caret-color: rgb(33, 37, 41);
    color: rgb(33, 37, 41);
    column-rule-color: rgb(33, 37, 41);
    letter-spacing: 0.4px;
    text-decoration: none solid rgb(33, 37, 41);
    text-emphasis-color: rgb(33, 37, 41);
    text-rendering: optimizespeed;
    text-size-adjust: 100%;
    border: 0px none rgb(33, 37, 41);
    font: 16px / 24px "DINOT - Cond Bold";
    outline: rgb(33, 37, 41) none 0px;
}/*#DIV_11:after*/

#DIV_11:before {
    border-block-end-color: rgb(33, 37, 41);
    border-block-start-color: rgb(33, 37, 41);
    border-inline-end-color: rgb(33, 37, 41);
    border-inline-start-color: rgb(33, 37, 41);
    box-sizing: border-box;
    caret-color: rgb(33, 37, 41);
    color: rgb(33, 37, 41);
    column-rule-color: rgb(33, 37, 41);
    letter-spacing: 0.4px;
    text-decoration: none solid rgb(33, 37, 41);
    text-emphasis-color: rgb(33, 37, 41);
    text-rendering: optimizespeed;
    text-size-adjust: 100%;
    border: 0px none rgb(33, 37, 41);
    font: 16px / 24px "DINOT - Cond Bold";
    outline: rgb(33, 37, 41) none 0px;
}/*#DIV_11:before*/

#BR_12 {
    border-block-end-color: rgb(33, 37, 41);
    border-block-start-color: rgb(33, 37, 41);
    border-inline-end-color: rgb(33, 37, 41);
    border-inline-start-color: rgb(33, 37, 41);
    box-sizing: border-box;
    caret-color: rgb(33, 37, 41);
    color: rgb(33, 37, 41);
    column-rule-color: rgb(33, 37, 41);
    letter-spacing: 0.4px;
    perspective-origin: 0px 0px;
    text-decoration: none solid rgb(33, 37, 41);
    text-emphasis-color: rgb(33, 37, 41);
    text-rendering: optimizespeed;
    text-size-adjust: 100%;
    transform-origin: 0px 0px;
    border: 0px none rgb(33, 37, 41);
    font: 16px / 24px "DINOT - Cond Bold";
    outline: rgb(33, 37, 41) none 0px;
}/*#BR_12*/

#BR_12:after {
    border-block-end-color: rgb(33, 37, 41);
    border-block-start-color: rgb(33, 37, 41);
    border-inline-end-color: rgb(33, 37, 41);
    border-inline-start-color: rgb(33, 37, 41);
    box-sizing: border-box;
    caret-color: rgb(33, 37, 41);
    color: rgb(33, 37, 41);
    column-rule-color: rgb(33, 37, 41);
    letter-spacing: 0.4px;
    text-decoration: none solid rgb(33, 37, 41);
    text-emphasis-color: rgb(33, 37, 41);
    text-rendering: optimizespeed;
    text-size-adjust: 100%;
    border: 0px none rgb(33, 37, 41);
    font: 16px / 24px "DINOT - Cond Bold";
    outline: rgb(33, 37, 41) none 0px;
}/*#BR_12:after*/

#BR_12:before {
    border-block-end-color: rgb(33, 37, 41);
    border-block-start-color: rgb(33, 37, 41);
    border-inline-end-color: rgb(33, 37, 41);
    border-inline-start-color: rgb(33, 37, 41);
    box-sizing: border-box;
    caret-color: rgb(33, 37, 41);
    color: rgb(33, 37, 41);
    column-rule-color: rgb(33, 37, 41);
    letter-spacing: 0.4px;
    text-decoration: none solid rgb(33, 37, 41);
    text-emphasis-color: rgb(33, 37, 41);
    text-rendering: optimizespeed;
    text-size-adjust: 100%;
    border: 0px none rgb(33, 37, 41);
    font: 16px / 24px "DINOT - Cond Bold";
    outline: rgb(33, 37, 41) none 0px;
}/*#BR_12:before*/

#DIV_13 {
    block-size: 74px;
    border-block-end-color: rgb(33, 37, 41);
    border-block-start-color: rgb(33, 37, 41);
    border-inline-end-color: rgb(33, 37, 41);
    border-inline-start-color: rgb(33, 37, 41);
    box-sizing: border-box;
    caret-color: rgb(33, 37, 41);
    color: rgb(33, 37, 41);
    column-rule-color: rgb(33, 37, 41);
    display: flex;
    height: 74px;
    inline-size: 347.225px;
    letter-spacing: 0.4px;
    margin-inline-end: -12px;
    margin-inline-start: -12px;
    perspective-origin: 173.613px 37px;
    text-decoration: none solid rgb(33, 37, 41);
    text-emphasis-color: rgb(33, 37, 41);
    text-rendering: optimizespeed;
    text-size-adjust: 100%;
    transform-origin: 173.613px 37px;
    width: 347.225px;
    border: 0px none rgb(33, 37, 41);
    flex-flow: row wrap;
    font: 16px / 24px "DINOT - Cond Bold";
    margin: 0px -12px;
    outline: rgb(33, 37, 41) none 0px;
}/*#DIV_13*/

#DIV_13:after {
    border-block-end-color: rgb(33, 37, 41);
    border-block-start-color: rgb(33, 37, 41);
    border-inline-end-color: rgb(33, 37, 41);
    border-inline-start-color: rgb(33, 37, 41);
    box-sizing: border-box;
    caret-color: rgb(33, 37, 41);
    color: rgb(33, 37, 41);
    column-rule-color: rgb(33, 37, 41);
    display: block;
    letter-spacing: 0.4px;
    text-decoration: none solid rgb(33, 37, 41);
    text-emphasis-color: rgb(33, 37, 41);
    text-rendering: optimizespeed;
    text-size-adjust: 100%;
    border: 0px none rgb(33, 37, 41);
    font: 16px / 24px "DINOT - Cond Bold";
    outline: rgb(33, 37, 41) none 0px;
}/*#DIV_13:after*/

#DIV_13:before {
    border-block-end-color: rgb(33, 37, 41);
    border-block-start-color: rgb(33, 37, 41);
    border-inline-end-color: rgb(33, 37, 41);
    border-inline-start-color: rgb(33, 37, 41);
    box-sizing: border-box;
    caret-color: rgb(33, 37, 41);
    color: rgb(33, 37, 41);
    column-rule-color: rgb(33, 37, 41);
    display: block;
    letter-spacing: 0.4px;
    text-decoration: none solid rgb(33, 37, 41);
    text-emphasis-color: rgb(33, 37, 41);
    text-rendering: optimizespeed;
    text-size-adjust: 100%;
    border: 0px none rgb(33, 37, 41);
    font: 16px / 24px "DINOT - Cond Bold";
    outline: rgb(33, 37, 41) none 0px;
}/*#DIV_13:before*/

#DIV_14, #DIV_16 {
    block-size: 74px;
    border-block-end-color: rgb(33, 37, 41);
    border-block-start-color: rgb(33, 37, 41);
    border-inline-end-color: rgb(33, 37, 41);
    border-inline-start-color: rgb(33, 37, 41);
    box-sizing: border-box;
    caret-color: rgb(33, 37, 41);
    color: rgb(33, 37, 41);
    column-rule-color: rgb(33, 37, 41);
    height: 74px;
    inline-size: 173.613px;
    letter-spacing: 0.4px;
    max-inline-size: 100%;
    max-width: 100%;
    min-block-size: auto;
    min-height: auto;
    min-inline-size: auto;
    min-width: auto;
    padding-inline-end: 12px;
    padding-inline-start: 12px;
    perspective-origin: 86.8px 37px;
    text-decoration: none solid rgb(33, 37, 41);
    text-emphasis-color: rgb(33, 37, 41);
    text-rendering: optimizespeed;
    text-size-adjust: 100%;
    transform-origin: 86.8063px 37px;
    width: 173.613px;
    border: 0px none rgb(33, 37, 41);
    flex: 0 0 auto;
    font: 16px / 24px "DINOT - Cond Bold";
    outline: rgb(33, 37, 41) none 0px;
    padding: 0px 12px;
}/*#DIV_14, #DIV_16*/

#DIV_14:after, #DIV_16:after {
    border-block-end-color: rgb(33, 37, 41);
    border-block-start-color: rgb(33, 37, 41);
    border-inline-end-color: rgb(33, 37, 41);
    border-inline-start-color: rgb(33, 37, 41);
    box-sizing: border-box;
    caret-color: rgb(33, 37, 41);
    color: rgb(33, 37, 41);
    column-rule-color: rgb(33, 37, 41);
    letter-spacing: 0.4px;
    text-decoration: none solid rgb(33, 37, 41);
    text-emphasis-color: rgb(33, 37, 41);
    text-rendering: optimizespeed;
    text-size-adjust: 100%;
    border: 0px none rgb(33, 37, 41);
    font: 16px / 24px "DINOT - Cond Bold";
    outline: rgb(33, 37, 41) none 0px;
}/*#DIV_14:after, #DIV_16:after*/

#DIV_14:before, #DIV_16:before {
    border-block-end-color: rgb(33, 37, 41);
    border-block-start-color: rgb(33, 37, 41);
    border-inline-end-color: rgb(33, 37, 41);
    border-inline-start-color: rgb(33, 37, 41);
    box-sizing: border-box;
    caret-color: rgb(33, 37, 41);
    color: rgb(33, 37, 41);
    column-rule-color: rgb(33, 37, 41);
    letter-spacing: 0.4px;
    text-decoration: none solid rgb(33, 37, 41);
    text-emphasis-color: rgb(33, 37, 41);
    text-rendering: optimizespeed;
    text-size-adjust: 100%;
    border: 0px none rgb(33, 37, 41);
    font: 16px / 24px "DINOT - Cond Bold";
    outline: rgb(33, 37, 41) none 0px;
}/*#DIV_14:before, #DIV_16:before*/

#IMG_15 {
    block-size: 42.7375px;
    border-block-end-color: rgb(33, 37, 41);
    border-block-start-color: rgb(33, 37, 41);
    border-inline-end-color: rgb(33, 37, 41);
    border-inline-start-color: rgb(33, 37, 41);
    box-sizing: border-box;
    caret-color: rgb(33, 37, 41);
    color: rgb(33, 37, 41);
    column-rule-color: rgb(33, 37, 41);
    display: block;
    height: 42.7375px;
    inline-size: 149.613px;
    letter-spacing: 0.4px;
    margin-block-end: 25px;
    max-inline-size: 100%;
    max-width: 100%;
    perspective-origin: 74.8px 21.3625px;
    text-decoration: none solid rgb(33, 37, 41);
    text-emphasis-color: rgb(33, 37, 41);
    text-rendering: optimizespeed;
    text-size-adjust: 100%;
    transform-origin: 74.8063px 21.3687px;
    vertical-align: middle;
    width: 149.613px;
    border: 0px none rgb(33, 37, 41);
    font: 16px / 24px "DINOT - Cond Bold";
    margin: 0px 0px 25px;
    outline: rgb(33, 37, 41) none 0px;
}/*#IMG_15*/

#IMG_15:after {
    border-block-end-color: rgb(33, 37, 41);
    border-block-start-color: rgb(33, 37, 41);
    border-inline-end-color: rgb(33, 37, 41);
    border-inline-start-color: rgb(33, 37, 41);
    box-sizing: border-box;
    caret-color: rgb(33, 37, 41);
    color: rgb(33, 37, 41);
    column-rule-color: rgb(33, 37, 41);
    letter-spacing: 0.4px;
    text-decoration: none solid rgb(33, 37, 41);
    text-emphasis-color: rgb(33, 37, 41);
    text-rendering: optimizespeed;
    text-size-adjust: 100%;
    border: 0px none rgb(33, 37, 41);
    font: 16px / 24px "DINOT - Cond Bold";
    outline: rgb(33, 37, 41) none 0px;
}/*#IMG_15:after*/

#IMG_15:before {
    border-block-end-color: rgb(33, 37, 41);
    border-block-start-color: rgb(33, 37, 41);
    border-inline-end-color: rgb(33, 37, 41);
    border-inline-start-color: rgb(33, 37, 41);
    box-sizing: border-box;
    caret-color: rgb(33, 37, 41);
    color: rgb(33, 37, 41);
    column-rule-color: rgb(33, 37, 41);
    letter-spacing: 0.4px;
    text-decoration: none solid rgb(33, 37, 41);
    text-emphasis-color: rgb(33, 37, 41);
    text-rendering: optimizespeed;
    text-size-adjust: 100%;
    border: 0px none rgb(33, 37, 41);
    font: 16px / 24px "DINOT - Cond Bold";
    outline: rgb(33, 37, 41) none 0px;
}/*#IMG_15:before*/

#IMG_17 {
    block-size: 49px;
    border-block-end-color: rgb(33, 37, 41);
    border-block-start-color: rgb(33, 37, 41);
    border-inline-end-color: rgb(33, 37, 41);
    border-inline-start-color: rgb(33, 37, 41);
    box-sizing: border-box;
    caret-color: rgb(33, 37, 41);
    color: rgb(33, 37, 41);
    column-rule-color: rgb(33, 37, 41);
    display: block;
    height: 49px;
    inline-size: 149.613px;
    letter-spacing: 0.4px;
    margin-block-end: 25px;
    max-inline-size: 100%;
    max-width: 100%;
    perspective-origin: 74.8px 24.5px;
    text-decoration: none solid rgb(33, 37, 41);
    text-emphasis-color: rgb(33, 37, 41);
    text-rendering: optimizespeed;
    text-size-adjust: 100%;
    transform-origin: 74.8063px 24.5px;
    vertical-align: middle;
    width: 149.613px;
    border: 0px none rgb(33, 37, 41);
    font: 16px / 24px "DINOT - Cond Bold";
    margin: 0px 0px 25px;
    outline: rgb(33, 37, 41) none 0px;
}/*#IMG_17*/

#IMG_17:after {
    border-block-end-color: rgb(33, 37, 41);
    border-block-start-color: rgb(33, 37, 41);
    border-inline-end-color: rgb(33, 37, 41);
    border-inline-start-color: rgb(33, 37, 41);
    box-sizing: border-box;
    caret-color: rgb(33, 37, 41);
    color: rgb(33, 37, 41);
    column-rule-color: rgb(33, 37, 41);
    letter-spacing: 0.4px;
    text-decoration: none solid rgb(33, 37, 41);
    text-emphasis-color: rgb(33, 37, 41);
    text-rendering: optimizespeed;
    text-size-adjust: 100%;
    border: 0px none rgb(33, 37, 41);
    font: 16px / 24px "DINOT - Cond Bold";
    outline: rgb(33, 37, 41) none 0px;
}/*#IMG_17:after*/

#IMG_17:before {
    border-block-end-color: rgb(33, 37, 41);
    border-block-start-color: rgb(33, 37, 41);
    border-inline-end-color: rgb(33, 37, 41);
    border-inline-start-color: rgb(33, 37, 41);
    box-sizing: border-box;
    caret-color: rgb(33, 37, 41);
    color: rgb(33, 37, 41);
    column-rule-color: rgb(33, 37, 41);
    letter-spacing: 0.4px;
    text-decoration: none solid rgb(33, 37, 41);
    text-emphasis-color: rgb(33, 37, 41);
    text-rendering: optimizespeed;
    text-size-adjust: 100%;
    border: 0px none rgb(33, 37, 41);
    font: 16px / 24px "DINOT - Cond Bold";
    outline: rgb(33, 37, 41) none 0px;
}/*#IMG_17:before*/

#DIV_18 {
    background-position: 100% 50%;
    block-size: 617px;
    border-block-end-color: rgb(33, 37, 41);
    border-block-start-color: rgb(33, 37, 41);
    border-inline-end-color: rgb(33, 37, 41);
    border-inline-start-color: rgb(33, 37, 41);
    box-sizing: border-box;
    caret-color: rgb(33, 37, 41);
    color: rgb(33, 37, 41);
    column-rule-color: rgb(33, 37, 41);
    height: 617px;
    inline-size: 981.575px;
    letter-spacing: 0.4px;
    min-block-size: auto;
    min-height: auto;
    min-inline-size: auto;
    min-width: auto;
    perspective-origin: 490.788px 308.5px;
    text-decoration: none solid rgb(33, 37, 41);
    text-emphasis-color: rgb(33, 37, 41);
    text-rendering: optimizespeed;
    text-size-adjust: 100%;
    transform-origin: 490.788px 308.5px;
    width: 981.575px;
    background: rgba(0, 0, 0, 0) url("https://thermos.com/cdn/shop/files/IS2102GT4_ICON_OctMed_23_CAL_Lake_16A_0006_Steam_Pour_HotStaysHot_3000x1700_1024x1024_8d8f649b-433a-4501-b13a-c8e459abad22.webp?v=1714997428&width=1024") no-repeat scroll 100% 50% / cover padding-box border-box;
    border: 0px none rgb(33, 37, 41);
    font: 16px / 24px "DINOT - Cond Bold";
    outline: rgb(33, 37, 41) none 0px;
}/*#DIV_18*/

#DIV_18:after {
    border-block-end-color: rgb(33, 37, 41);
    border-block-start-color: rgb(33, 37, 41);
    border-inline-end-color: rgb(33, 37, 41);
    border-inline-start-color: rgb(33, 37, 41);
    box-sizing: border-box;
    caret-color: rgb(33, 37, 41);
    color: rgb(33, 37, 41);
    column-rule-color: rgb(33, 37, 41);
    letter-spacing: 0.4px;
    text-decoration: none solid rgb(33, 37, 41);
    text-emphasis-color: rgb(33, 37, 41);
    text-rendering: optimizespeed;
    text-size-adjust: 100%;
    border: 0px none rgb(33, 37, 41);
    font: 16px / 24px "DINOT - Cond Bold";
    outline: rgb(33, 37, 41) none 0px;
}/*#DIV_18:after*/

#DIV_18:before {
    border-block-end-color: rgb(33, 37, 41);
    border-block-start-color: rgb(33, 37, 41);
    border-inline-end-color: rgb(33, 37, 41);
    border-inline-start-color: rgb(33, 37, 41);
    box-sizing: border-box;
    caret-color: rgb(33, 37, 41);
    color: rgb(33, 37, 41);
    column-rule-color: rgb(33, 37, 41);
    letter-spacing: 0.4px;
    text-decoration: none solid rgb(33, 37, 41);
    text-emphasis-color: rgb(33, 37, 41);
    text-rendering: optimizespeed;
    text-size-adjust: 100%;
    border: 0px none rgb(33, 37, 41);
    font: 16px / 24px "DINOT - Cond Bold";
    outline: rgb(33, 37, 41) none 0px;
}/*#DIV_18:before*/

#DIV_19 {
    border-block-end-color: rgb(33, 37, 41);
    border-block-start-color: rgb(33, 37, 41);
    border-inline-end-color: rgb(33, 37, 41);
    border-inline-start-color: rgb(33, 37, 41);
    box-sizing: border-box;
    caret-color: rgb(33, 37, 41);
    color: rgb(33, 37, 41);
    column-rule-color: rgb(33, 37, 41);
    display: none;
    inline-size: 100%;
    letter-spacing: 0.4px;
    margin-inline-end: auto;
    margin-inline-start: auto;
    padding-inline-end: 12px;
    padding-inline-start: 12px;
    text-decoration: none solid rgb(33, 37, 41);
    text-emphasis-color: rgb(33, 37, 41);
    text-rendering: optimizespeed;
    text-size-adjust: 100%;
    width: 100%;
    border: 0px none rgb(33, 37, 41);
    font: 16px / 24px "DINOT - Cond Bold";
    margin: 0px auto;
    outline: rgb(33, 37, 41) none 0px;
    padding: 0px 12px;
}/*#DIV_19*/

#DIV_19:after {
    border-block-end-color: rgb(33, 37, 41);
    border-block-start-color: rgb(33, 37, 41);
    border-inline-end-color: rgb(33, 37, 41);
    border-inline-start-color: rgb(33, 37, 41);
    box-sizing: border-box;
    caret-color: rgb(33, 37, 41);
    color: rgb(33, 37, 41);
    column-rule-color: rgb(33, 37, 41);
    letter-spacing: 0.4px;
    text-decoration: none solid rgb(33, 37, 41);
    text-emphasis-color: rgb(33, 37, 41);
    text-rendering: optimizespeed;
    text-size-adjust: 100%;
    border: 0px none rgb(33, 37, 41);
    font: 16px / 24px "DINOT - Cond Bold";
    outline: rgb(33, 37, 41) none 0px;
}/*#DIV_19:after*/

#DIV_19:before {
    border-block-end-color: rgb(33, 37, 41);
    border-block-start-color: rgb(33, 37, 41);
    border-inline-end-color: rgb(33, 37, 41);
    border-inline-start-color: rgb(33, 37, 41);
    box-sizing: border-box;
    caret-color: rgb(33, 37, 41);
    color: rgb(33, 37, 41);
    column-rule-color: rgb(33, 37, 41);
    letter-spacing: 0.4px;
    text-decoration: none solid rgb(33, 37, 41);
    text-emphasis-color: rgb(33, 37, 41);
    text-rendering: optimizespeed;
    text-size-adjust: 100%;
    border: 0px none rgb(33, 37, 41);
    font: 16px / 24px "DINOT - Cond Bold";
    outline: rgb(33, 37, 41) none 0px;
}/*#DIV_19:before*/

#DIV_20 {
    border-block-end-color: rgb(33, 37, 41);
    border-block-start-color: rgb(33, 37, 41);
    border-inline-end-color: rgb(33, 37, 41);
    border-inline-start-color: rgb(33, 37, 41);
    box-sizing: border-box;
    caret-color: rgb(33, 37, 41);
    color: rgb(33, 37, 41);
    column-rule-color: rgb(33, 37, 41);
    display: flex;
    letter-spacing: 0.4px;
    margin-inline-end: -12px;
    margin-inline-start: -12px;
    text-decoration: none solid rgb(33, 37, 41);
    text-emphasis-color: rgb(33, 37, 41);
    text-rendering: optimizespeed;
    text-size-adjust: 100%;
    border: 0px none rgb(33, 37, 41);
    flex-flow: row wrap;
    font: 16px / 24px "DINOT - Cond Bold";
    margin: 0px -12px;
    outline: rgb(33, 37, 41) none 0px;
}/*#DIV_20*/

#DIV_20:after {
    border-block-end-color: rgb(33, 37, 41);
    border-block-start-color: rgb(33, 37, 41);
    border-inline-end-color: rgb(33, 37, 41);
    border-inline-start-color: rgb(33, 37, 41);
    box-sizing: border-box;
    caret-color: rgb(33, 37, 41);
    color: rgb(33, 37, 41);
    column-rule-color: rgb(33, 37, 41);
    display: block;
    letter-spacing: 0.4px;
    text-decoration: none solid rgb(33, 37, 41);
    text-emphasis-color: rgb(33, 37, 41);
    text-rendering: optimizespeed;
    text-size-adjust: 100%;
    border: 0px none rgb(33, 37, 41);
    font: 16px / 24px "DINOT - Cond Bold";
    outline: rgb(33, 37, 41) none 0px;
}/*#DIV_20:after*/

#DIV_20:before {
    border-block-end-color: rgb(33, 37, 41);
    border-block-start-color: rgb(33, 37, 41);
    border-inline-end-color: rgb(33, 37, 41);
    border-inline-start-color: rgb(33, 37, 41);
    box-sizing: border-box;
    caret-color: rgb(33, 37, 41);
    color: rgb(33, 37, 41);
    column-rule-color: rgb(33, 37, 41);
    display: block;
    letter-spacing: 0.4px;
    text-decoration: none solid rgb(33, 37, 41);
    text-emphasis-color: rgb(33, 37, 41);
    text-rendering: optimizespeed;
    text-size-adjust: 100%;
    border: 0px none rgb(33, 37, 41);
    font: 16px / 24px "DINOT - Cond Bold";
    outline: rgb(33, 37, 41) none 0px;
}/*#DIV_20:before*/

#DIV_21 {
    border-block-end-color: rgb(33, 37, 41);
    border-block-start-color: rgb(33, 37, 41);
    border-inline-end-color: rgb(33, 37, 41);
    border-inline-start-color: rgb(33, 37, 41);
    box-sizing: border-box;
    caret-color: rgb(33, 37, 41);
    color: rgb(33, 37, 41);
    column-rule-color: rgb(33, 37, 41);
    inline-size: 100%;
    letter-spacing: 0.4px;
    max-inline-size: 100%;
    max-width: 100%;
    padding-inline-end: 12px;
    padding-inline-start: 12px;
    text-decoration: none solid rgb(33, 37, 41);
    text-emphasis-color: rgb(33, 37, 41);
    text-rendering: optimizespeed;
    text-size-adjust: 100%;
    width: 100%;
    border: 0px none rgb(33, 37, 41);
    flex: 0 0 auto;
    font: 16px / 24px "DINOT - Cond Bold";
    outline: rgb(33, 37, 41) none 0px;
    padding: 0px 12px;
}/*#DIV_21*/

#DIV_21:after {
    border-block-end-color: rgb(33, 37, 41);
    border-block-start-color: rgb(33, 37, 41);
    border-inline-end-color: rgb(33, 37, 41);
    border-inline-start-color: rgb(33, 37, 41);
    box-sizing: border-box;
    caret-color: rgb(33, 37, 41);
    color: rgb(33, 37, 41);
    column-rule-color: rgb(33, 37, 41);
    letter-spacing: 0.4px;
    text-decoration: none solid rgb(33, 37, 41);
    text-emphasis-color: rgb(33, 37, 41);
    text-rendering: optimizespeed;
    text-size-adjust: 100%;
    border: 0px none rgb(33, 37, 41);
    font: 16px / 24px "DINOT - Cond Bold";
    outline: rgb(33, 37, 41) none 0px;
}/*#DIV_21:after*/

#DIV_21:before {
    border-block-end-color: rgb(33, 37, 41);
    border-block-start-color: rgb(33, 37, 41);
    border-inline-end-color: rgb(33, 37, 41);
    border-inline-start-color: rgb(33, 37, 41);
    box-sizing: border-box;
    caret-color: rgb(33, 37, 41);
    color: rgb(33, 37, 41);
    column-rule-color: rgb(33, 37, 41);
    letter-spacing: 0.4px;
    text-decoration: none solid rgb(33, 37, 41);
    text-emphasis-color: rgb(33, 37, 41);
    text-rendering: optimizespeed;
    text-size-adjust: 100%;
    border: 0px none rgb(33, 37, 41);
    font: 16px / 24px "DINOT - Cond Bold";
    outline: rgb(33, 37, 41) none 0px;
}/*#DIV_21:before*/

#IMG_23 {
    border-block-end-color: rgb(33, 37, 41);
    border-block-start-color: rgb(33, 37, 41);
    border-inline-end-color: rgb(33, 37, 41);
    border-inline-start-color: rgb(33, 37, 41);
    box-sizing: border-box;
    caret-color: rgb(33, 37, 41);
    color: rgb(33, 37, 41);
    column-rule-color: rgb(33, 37, 41);
    display: block;
    inline-size: 100%;
    letter-spacing: 0.4px;
    max-inline-size: 100%;
    max-width: 100%;
    opacity: 0;
    text-decoration: none solid rgb(33, 37, 41);
    text-emphasis-color: rgb(33, 37, 41);
    text-rendering: optimizespeed;
    text-size-adjust: 100%;
    vertical-align: middle;
    width: 100%;
    animation: 0.5s cubic-bezier(0.29, 0.65, 0.58, 1) 0s 1 normal forwards running fade-in;
    border: 0px none rgb(33, 37, 41);
    font: 16px / 24px "DINOT - Cond Bold";
    outline: rgb(33, 37, 41) none 0px;
}/*#IMG_23*/

#IMG_23:after {
    border-block-end-color: rgb(33, 37, 41);
    border-block-start-color: rgb(33, 37, 41);
    border-inline-end-color: rgb(33, 37, 41);
    border-inline-start-color: rgb(33, 37, 41);
    box-sizing: border-box;
    caret-color: rgb(33, 37, 41);
    color: rgb(33, 37, 41);
    column-rule-color: rgb(33, 37, 41);
    letter-spacing: 0.4px;
    text-decoration: none solid rgb(33, 37, 41);
    text-emphasis-color: rgb(33, 37, 41);
    text-rendering: optimizespeed;
    text-size-adjust: 100%;
    border: 0px none rgb(33, 37, 41);
    font: 16px / 24px "DINOT - Cond Bold";
    outline: rgb(33, 37, 41) none 0px;
}/*#IMG_23:after*/

#IMG_23:before {
    border-block-end-color: rgb(33, 37, 41);
    border-block-start-color: rgb(33, 37, 41);
    border-inline-end-color: rgb(33, 37, 41);
    border-inline-start-color: rgb(33, 37, 41);
    box-sizing: border-box;
    caret-color: rgb(33, 37, 41);
    color: rgb(33, 37, 41);
    column-rule-color: rgb(33, 37, 41);
    letter-spacing: 0.4px;
    text-decoration: none solid rgb(33, 37, 41);
    text-emphasis-color: rgb(33, 37, 41);
    text-rendering: optimizespeed;
    text-size-adjust: 100%;
    border: 0px none rgb(33, 37, 41);
    font: 16px / 24px "DINOT - Cond Bold";
    outline: rgb(33, 37, 41) none 0px;
}/*#IMG_23:before*/

#DIV_24 {
    align-items: center;
    border-block-end-color: rgb(33, 37, 41);
    border-block-start-color: rgb(33, 37, 41);
    border-inline-end-color: rgb(33, 37, 41);
    border-inline-start-color: rgb(33, 37, 41);
    box-sizing: border-box;
    caret-color: rgb(33, 37, 41);
    color: rgb(33, 37, 41);
    column-rule-color: rgb(33, 37, 41);
    display: flex;
    inline-size: 100%;
    letter-spacing: 0.4px;
    max-inline-size: 100%;
    max-width: 100%;
    padding-block-end: 48px;
    padding-inline-end: 15px;
    padding-inline-start: 15px;
    text-decoration: none solid rgb(33, 37, 41);
    text-emphasis-color: rgb(33, 37, 41);
    text-rendering: optimizespeed;
    text-size-adjust: 100%;
    width: 100%;
    background: rgb(61, 163, 211) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(33, 37, 41);
    flex: 0 0 auto;
    flex-flow: column nowrap;
    font: 16px / 24px "DINOT - Cond Bold";
    outline: rgb(33, 37, 41) none 0px;
    padding: 0px 15px 48px;
}/*#DIV_24*/

#DIV_24:after {
    border-block-end-color: rgb(33, 37, 41);
    border-block-start-color: rgb(33, 37, 41);
    border-inline-end-color: rgb(33, 37, 41);
    border-inline-start-color: rgb(33, 37, 41);
    box-sizing: border-box;
    caret-color: rgb(33, 37, 41);
    color: rgb(33, 37, 41);
    column-rule-color: rgb(33, 37, 41);
    display: block;
    letter-spacing: 0.4px;
    text-decoration: none solid rgb(33, 37, 41);
    text-emphasis-color: rgb(33, 37, 41);
    text-rendering: optimizespeed;
    text-size-adjust: 100%;
    border: 0px none rgb(33, 37, 41);
    font: 16px / 24px "DINOT - Cond Bold";
    outline: rgb(33, 37, 41) none 0px;
}/*#DIV_24:after*/

#DIV_24:before {
    border-block-end-color: rgb(33, 37, 41);
    border-block-start-color: rgb(33, 37, 41);
    border-inline-end-color: rgb(33, 37, 41);
    border-inline-start-color: rgb(33, 37, 41);
    box-sizing: border-box;
    caret-color: rgb(33, 37, 41);
    color: rgb(33, 37, 41);
    column-rule-color: rgb(33, 37, 41);
    display: block;
    letter-spacing: 0.4px;
    text-decoration: none solid rgb(33, 37, 41);
    text-emphasis-color: rgb(33, 37, 41);
    text-rendering: optimizespeed;
    text-size-adjust: 100%;
    border: 0px none rgb(33, 37, 41);
    font: 16px / 24px "DINOT - Cond Bold";
    outline: rgb(33, 37, 41) none 0px;
}/*#DIV_24:before*/

#DIV_25 {
    border-block-end-color: rgb(255, 255, 255);
    border-block-start-color: rgb(255, 255, 255);
    border-inline-end-color: rgb(255, 255, 255);
    border-inline-start-color: rgb(255, 255, 255);
    box-sizing: border-box;
    caret-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    column-rule-color: rgb(255, 255, 255);
    letter-spacing: 0.4px;
    padding-block-start: 24px;
    text-decoration: none solid rgb(255, 255, 255);
    text-emphasis-color: rgb(255, 255, 255);
    text-rendering: optimizespeed;
    text-size-adjust: 100%;
    border: 0px none rgb(255, 255, 255);
    font: 16px / 24px "DINOT - Cond Bold";
    outline: rgb(255, 255, 255) none 0px;
    padding: 24px 0px 0px;
}/*#DIV_25*/

#DIV_25:after {
    border-block-end-color: rgb(255, 255, 255);
    border-block-start-color: rgb(255, 255, 255);
    border-inline-end-color: rgb(255, 255, 255);
    border-inline-start-color: rgb(255, 255, 255);
    box-sizing: border-box;
    caret-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    column-rule-color: rgb(255, 255, 255);
    letter-spacing: 0.4px;
    text-decoration: none solid rgb(255, 255, 255);
    text-emphasis-color: rgb(255, 255, 255);
    text-rendering: optimizespeed;
    text-size-adjust: 100%;
    border: 0px none rgb(255, 255, 255);
    font: 16px / 24px "DINOT - Cond Bold";
    outline: rgb(255, 255, 255) none 0px;
}/*#DIV_25:after*/

#DIV_25:before {
    border-block-end-color: rgb(255, 255, 255);
    border-block-start-color: rgb(255, 255, 255);
    border-inline-end-color: rgb(255, 255, 255);
    border-inline-start-color: rgb(255, 255, 255);
    box-sizing: border-box;
    caret-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    column-rule-color: rgb(255, 255, 255);
    letter-spacing: 0.4px;
    text-decoration: none solid rgb(255, 255, 255);
    text-emphasis-color: rgb(255, 255, 255);
    text-rendering: optimizespeed;
    text-size-adjust: 100%;
    border: 0px none rgb(255, 255, 255);
    font: 16px / 24px "DINOT - Cond Bold";
    outline: rgb(255, 255, 255) none 0px;
}/*#DIV_25:before*/

#H2_26 {
    border-block-end-color: rgb(255, 255, 255);
    border-block-start-color: rgb(255, 255, 255);
    border-inline-end-color: rgb(255, 255, 255);
    border-inline-start-color: rgb(255, 255, 255);
    box-sizing: border-box;
    caret-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    column-rule-color: rgb(255, 255, 255);
    margin-block-end: 8px;
    margin-block-start: 0px;
    text-decoration: none solid rgb(255, 255, 255);
    text-emphasis-color: rgb(255, 255, 255);
    text-rendering: optimizespeed;
    text-size-adjust: 100%;
    text-transform: uppercase;
    border: 0px none rgb(255, 255, 255);
    font: 500 70px / 70px "DINOT - Cond Bold";
    margin: 0px 0px 8px;
    outline: rgb(255, 255, 255) none 0px;
}/*#H2_26*/

#H2_26:after {
    border-block-end-color: rgb(255, 255, 255);
    border-block-start-color: rgb(255, 255, 255);
    border-inline-end-color: rgb(255, 255, 255);
    border-inline-start-color: rgb(255, 255, 255);
    box-sizing: border-box;
    caret-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    column-rule-color: rgb(255, 255, 255);
    text-decoration: none solid rgb(255, 255, 255);
    text-emphasis-color: rgb(255, 255, 255);
    text-rendering: optimizespeed;
    text-size-adjust: 100%;
    text-transform: uppercase;
    border: 0px none rgb(255, 255, 255);
    font: 500 70px / 70px "DINOT - Cond Bold";
    outline: rgb(255, 255, 255) none 0px;
}/*#H2_26:after*/

#H2_26:before {
    border-block-end-color: rgb(255, 255, 255);
    border-block-start-color: rgb(255, 255, 255);
    border-inline-end-color: rgb(255, 255, 255);
    border-inline-start-color: rgb(255, 255, 255);
    box-sizing: border-box;
    caret-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    column-rule-color: rgb(255, 255, 255);
    text-decoration: none solid rgb(255, 255, 255);
    text-emphasis-color: rgb(255, 255, 255);
    text-rendering: optimizespeed;
    text-size-adjust: 100%;
    text-transform: uppercase;
    border: 0px none rgb(255, 255, 255);
    font: 500 70px / 70px "DINOT - Cond Bold";
    outline: rgb(255, 255, 255) none 0px;
}/*#H2_26:before*/

#BR_27 {
    border-block-end-color: rgb(255, 255, 255);
    border-block-start-color: rgb(255, 255, 255);
    border-inline-end-color: rgb(255, 255, 255);
    border-inline-start-color: rgb(255, 255, 255);
    box-sizing: border-box;
    caret-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    column-rule-color: rgb(255, 255, 255);
    text-decoration: none solid rgb(255, 255, 255);
    text-emphasis-color: rgb(255, 255, 255);
    text-rendering: optimizespeed;
    text-size-adjust: 100%;
    text-transform: uppercase;
    border: 0px none rgb(255, 255, 255);
    font: 500 70px / 70px "DINOT - Cond Bold";
    outline: rgb(255, 255, 255) none 0px;
}/*#BR_27*/

#BR_27:after {
    border-block-end-color: rgb(255, 255, 255);
    border-block-start-color: rgb(255, 255, 255);
    border-inline-end-color: rgb(255, 255, 255);
    border-inline-start-color: rgb(255, 255, 255);
    box-sizing: border-box;
    caret-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    column-rule-color: rgb(255, 255, 255);
    text-decoration: none solid rgb(255, 255, 255);
    text-emphasis-color: rgb(255, 255, 255);
    text-rendering: optimizespeed;
    text-size-adjust: 100%;
    text-transform: uppercase;
    border: 0px none rgb(255, 255, 255);
    font: 500 70px / 70px "DINOT - Cond Bold";
    outline: rgb(255, 255, 255) none 0px;
}/*#BR_27:after*/

#BR_27:before {
    border-block-end-color: rgb(255, 255, 255);
    border-block-start-color: rgb(255, 255, 255);
    border-inline-end-color: rgb(255, 255, 255);
    border-inline-start-color: rgb(255, 255, 255);
    box-sizing: border-box;
    caret-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    column-rule-color: rgb(255, 255, 255);
    text-decoration: none solid rgb(255, 255, 255);
    text-emphasis-color: rgb(255, 255, 255);
    text-rendering: optimizespeed;
    text-size-adjust: 100%;
    text-transform: uppercase;
    border: 0px none rgb(255, 255, 255);
    font: 500 70px / 70px "DINOT - Cond Bold";
    outline: rgb(255, 255, 255) none 0px;
}/*#BR_27:before*/

#DIV_28, #BR_31 {
    border-block-end-color: rgb(255, 255, 255);
    border-block-start-color: rgb(255, 255, 255);
    border-inline-end-color: rgb(255, 255, 255);
    border-inline-start-color: rgb(255, 255, 255);
    box-sizing: border-box;
    caret-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    column-rule-color: rgb(255, 255, 255);
    letter-spacing: 0.4px;
    text-decoration: none solid rgb(255, 255, 255);
    text-emphasis-color: rgb(255, 255, 255);
    text-rendering: optimizespeed;
    text-size-adjust: 100%;
    border: 0px none rgb(255, 255, 255);
    font: 16px / 24px "DINOT - Cond Bold";
    outline: rgb(255, 255, 255) none 0px;
}/*#DIV_28, #BR_31*/

#DIV_28:after, #BR_31:after {
    border-block-end-color: rgb(255, 255, 255);
    border-block-start-color: rgb(255, 255, 255);
    border-inline-end-color: rgb(255, 255, 255);
    border-inline-start-color: rgb(255, 255, 255);
    box-sizing: border-box;
    caret-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    column-rule-color: rgb(255, 255, 255);
    letter-spacing: 0.4px;
    text-decoration: none solid rgb(255, 255, 255);
    text-emphasis-color: rgb(255, 255, 255);
    text-rendering: optimizespeed;
    text-size-adjust: 100%;
    border: 0px none rgb(255, 255, 255);
    font: 16px / 24px "DINOT - Cond Bold";
    outline: rgb(255, 255, 255) none 0px;
}/*#DIV_28:after, #BR_31:after*/

#DIV_28:before, #BR_31:before {
    border-block-end-color: rgb(255, 255, 255);
    border-block-start-color: rgb(255, 255, 255);
    border-inline-end-color: rgb(255, 255, 255);
    border-inline-start-color: rgb(255, 255, 255);
    box-sizing: border-box;
    caret-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    column-rule-color: rgb(255, 255, 255);
    letter-spacing: 0.4px;
    text-decoration: none solid rgb(255, 255, 255);
    text-emphasis-color: rgb(255, 255, 255);
    text-rendering: optimizespeed;
    text-size-adjust: 100%;
    border: 0px none rgb(255, 255, 255);
    font: 16px / 24px "DINOT - Cond Bold";
    outline: rgb(255, 255, 255) none 0px;
}/*#DIV_28:before, #BR_31:before*/

#P_29 {
    border-block-end-color: rgb(255, 255, 255);
    border-block-start-color: rgb(255, 255, 255);
    border-inline-end-color: rgb(255, 255, 255);
    border-inline-start-color: rgb(255, 255, 255);
    box-sizing: border-box;
    caret-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    column-rule-color: rgb(255, 255, 255);
    margin-block-end: 16px;
    margin-block-start: 0px;
    text-decoration: none solid rgb(255, 255, 255);
    text-emphasis-color: rgb(255, 255, 255);
    text-rendering: optimizespeed;
    text-size-adjust: 100%;
    border: 0px none rgb(255, 255, 255);
    font: 22px / 36px DINOT;
    margin: 0px 0px 16px;
    outline: rgb(255, 255, 255) none 0px;
}/*#P_29*/

#P_29:after {
    border-block-end-color: rgb(255, 255, 255);
    border-block-start-color: rgb(255, 255, 255);
    border-inline-end-color: rgb(255, 255, 255);
    border-inline-start-color: rgb(255, 255, 255);
    box-sizing: border-box;
    caret-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    column-rule-color: rgb(255, 255, 255);
    text-decoration: none solid rgb(255, 255, 255);
    text-emphasis-color: rgb(255, 255, 255);
    text-rendering: optimizespeed;
    text-size-adjust: 100%;
    border: 0px none rgb(255, 255, 255);
    font: 22px / 36px DINOT;
    outline: rgb(255, 255, 255) none 0px;
}/*#P_29:after*/

#P_29:before {
    border-block-end-color: rgb(255, 255, 255);
    border-block-start-color: rgb(255, 255, 255);
    border-inline-end-color: rgb(255, 255, 255);
    border-inline-start-color: rgb(255, 255, 255);
    box-sizing: border-box;
    caret-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    column-rule-color: rgb(255, 255, 255);
    text-decoration: none solid rgb(255, 255, 255);
    text-emphasis-color: rgb(255, 255, 255);
    text-rendering: optimizespeed;
    text-size-adjust: 100%;
    border: 0px none rgb(255, 255, 255);
    font: 22px / 36px DINOT;
    outline: rgb(255, 255, 255) none 0px;
}/*#P_29:before*/

#DIV_30 {
    border-block-end-color: rgb(255, 255, 255);
    border-block-start-color: rgb(255, 255, 255);
    border-inline-end-color: rgb(255, 255, 255);
    border-inline-start-color: rgb(255, 255, 255);
    box-sizing: border-box;
    caret-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    column-rule-color: rgb(255, 255, 255);
    inline-size: 100%;
    letter-spacing: 0.4px;
    margin-block-start: 24px;
    margin-inline-end: auto;
    margin-inline-start: auto;
    padding-inline-end: 15px;
    text-decoration: none solid rgb(255, 255, 255);
    text-emphasis-color: rgb(255, 255, 255);
    text-rendering: optimizespeed;
    text-size-adjust: 100%;
    width: 100%;
    border: 0px none rgb(255, 255, 255);
    font: 16px / 24px "DINOT - Cond Bold";
    margin: 24px auto 0px;
    outline: rgb(255, 255, 255) none 0px;
    padding: 0px 15px 0px 0px;
}/*#DIV_30*/

#DIV_30:after {
    border-block-end-color: rgb(255, 255, 255);
    border-block-start-color: rgb(255, 255, 255);
    border-inline-end-color: rgb(255, 255, 255);
    border-inline-start-color: rgb(255, 255, 255);
    box-sizing: border-box;
    caret-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    column-rule-color: rgb(255, 255, 255);
    letter-spacing: 0.4px;
    text-decoration: none solid rgb(255, 255, 255);
    text-emphasis-color: rgb(255, 255, 255);
    text-rendering: optimizespeed;
    text-size-adjust: 100%;
    border: 0px none rgb(255, 255, 255);
    font: 16px / 24px "DINOT - Cond Bold";
    outline: rgb(255, 255, 255) none 0px;
}/*#DIV_30:after*/

#DIV_30:before {
    border-block-end-color: rgb(255, 255, 255);
    border-block-start-color: rgb(255, 255, 255);
    border-inline-end-color: rgb(255, 255, 255);
    border-inline-start-color: rgb(255, 255, 255);
    box-sizing: border-box;
    caret-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    column-rule-color: rgb(255, 255, 255);
    letter-spacing: 0.4px;
    text-decoration: none solid rgb(255, 255, 255);
    text-emphasis-color: rgb(255, 255, 255);
    text-rendering: optimizespeed;
    text-size-adjust: 100%;
    border: 0px none rgb(255, 255, 255);
    font: 16px / 24px "DINOT - Cond Bold";
    outline: rgb(255, 255, 255) none 0px;
}/*#DIV_30:before*/

#DIV_32 {
    border-block-end-color: rgb(255, 255, 255);
    border-block-start-color: rgb(255, 255, 255);
    border-inline-end-color: rgb(255, 255, 255);
    border-inline-start-color: rgb(255, 255, 255);
    box-sizing: border-box;
    caret-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    column-rule-color: rgb(255, 255, 255);
    display: flex;
    letter-spacing: 0.4px;
    margin-inline-end: -12px;
    margin-inline-start: -12px;
    text-decoration: none solid rgb(255, 255, 255);
    text-emphasis-color: rgb(255, 255, 255);
    text-rendering: optimizespeed;
    text-size-adjust: 100%;
    border: 0px none rgb(255, 255, 255);
    flex-flow: row wrap;
    font: 16px / 24px "DINOT - Cond Bold";
    margin: 0px -12px;
    outline: rgb(255, 255, 255) none 0px;
}/*#DIV_32*/

#DIV_32:after {
    border-block-end-color: rgb(255, 255, 255);
    border-block-start-color: rgb(255, 255, 255);
    border-inline-end-color: rgb(255, 255, 255);
    border-inline-start-color: rgb(255, 255, 255);
    box-sizing: border-box;
    caret-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    column-rule-color: rgb(255, 255, 255);
    display: block;
    letter-spacing: 0.4px;
    text-decoration: none solid rgb(255, 255, 255);
    text-emphasis-color: rgb(255, 255, 255);
    text-rendering: optimizespeed;
    text-size-adjust: 100%;
    border: 0px none rgb(255, 255, 255);
    font: 16px / 24px "DINOT - Cond Bold";
    outline: rgb(255, 255, 255) none 0px;
}/*#DIV_32:after*/

#DIV_32:before {
    border-block-end-color: rgb(255, 255, 255);
    border-block-start-color: rgb(255, 255, 255);
    border-inline-end-color: rgb(255, 255, 255);
    border-inline-start-color: rgb(255, 255, 255);
    box-sizing: border-box;
    caret-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    column-rule-color: rgb(255, 255, 255);
    display: block;
    letter-spacing: 0.4px;
    text-decoration: none solid rgb(255, 255, 255);
    text-emphasis-color: rgb(255, 255, 255);
    text-rendering: optimizespeed;
    text-size-adjust: 100%;
    border: 0px none rgb(255, 255, 255);
    font: 16px / 24px "DINOT - Cond Bold";
    outline: rgb(255, 255, 255) none 0px;
}/*#DIV_32:before*/

#DIV_33, #DIV_35 {
    border-block-end-color: rgb(255, 255, 255);
    border-block-start-color: rgb(255, 255, 255);
    border-inline-end-color: rgb(255, 255, 255);
    border-inline-start-color: rgb(255, 255, 255);
    box-sizing: border-box;
    caret-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    column-rule-color: rgb(255, 255, 255);
    display: flex;
    inline-size: 100%;
    justify-content: center;
    letter-spacing: 0.4px;
    max-inline-size: 100%;
    max-width: 100%;
    padding-inline-end: 12px;
    padding-inline-start: 12px;
    text-decoration: none solid rgb(255, 255, 255);
    text-emphasis-color: rgb(255, 255, 255);
    text-rendering: optimizespeed;
    text-size-adjust: 100%;
    width: 100%;
    border: 0px none rgb(255, 255, 255);
    flex: 0 0 auto;
    font: 16px / 24px "DINOT - Cond Bold";
    outline: rgb(255, 255, 255) none 0px;
    padding: 0px 12px;
}/*#DIV_33, #DIV_35*/

#DIV_33:after, #DIV_35:after {
    border-block-end-color: rgb(255, 255, 255);
    border-block-start-color: rgb(255, 255, 255);
    border-inline-end-color: rgb(255, 255, 255);
    border-inline-start-color: rgb(255, 255, 255);
    box-sizing: border-box;
    caret-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    column-rule-color: rgb(255, 255, 255);
    display: block;
    letter-spacing: 0.4px;
    text-decoration: none solid rgb(255, 255, 255);
    text-emphasis-color: rgb(255, 255, 255);
    text-rendering: optimizespeed;
    text-size-adjust: 100%;
    border: 0px none rgb(255, 255, 255);
    font: 16px / 24px "DINOT - Cond Bold";
    outline: rgb(255, 255, 255) none 0px;
}/*#DIV_33:after, #DIV_35:after*/

#DIV_33:before, #DIV_35:before {
    border-block-end-color: rgb(255, 255, 255);
    border-block-start-color: rgb(255, 255, 255);
    border-inline-end-color: rgb(255, 255, 255);
    border-inline-start-color: rgb(255, 255, 255);
    box-sizing: border-box;
    caret-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    column-rule-color: rgb(255, 255, 255);
    display: block;
    letter-spacing: 0.4px;
    text-decoration: none solid rgb(255, 255, 255);
    text-emphasis-color: rgb(255, 255, 255);
    text-rendering: optimizespeed;
    text-size-adjust: 100%;
    border: 0px none rgb(255, 255, 255);
    font: 16px / 24px "DINOT - Cond Bold";
    outline: rgb(255, 255, 255) none 0px;
}/*#DIV_33:before, #DIV_35:before*/

#IMG_34, #IMG_36 {
    border-block-end-color: rgb(255, 255, 255);
    border-block-start-color: rgb(255, 255, 255);
    border-inline-end-color: rgb(255, 255, 255);
    border-inline-start-color: rgb(255, 255, 255);
    box-sizing: border-box;
    caret-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    column-rule-color: rgb(255, 255, 255);
    display: block;
    inline-size: 217px;
    letter-spacing: 0.4px;
    max-inline-size: 100%;
    max-width: 100%;
    text-decoration: none solid rgb(255, 255, 255);
    text-emphasis-color: rgb(255, 255, 255);
    text-rendering: optimizespeed;
    text-size-adjust: 100%;
    vertical-align: middle;
    width: 217px;
    border: 0px none rgb(255, 255, 255);
    font: 16px / 24px "DINOT - Cond Bold";
    outline: rgb(255, 255, 255) none 0px;
}/*#IMG_34, #IMG_36*/

#IMG_34:after, #IMG_36:after {
    border-block-end-color: rgb(255, 255, 255);
    border-block-start-color: rgb(255, 255, 255);
    border-inline-end-color: rgb(255, 255, 255);
    border-inline-start-color: rgb(255, 255, 255);
    box-sizing: border-box;
    caret-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    column-rule-color: rgb(255, 255, 255);
    letter-spacing: 0.4px;
    text-decoration: none solid rgb(255, 255, 255);
    text-emphasis-color: rgb(255, 255, 255);
    text-rendering: optimizespeed;
    text-size-adjust: 100%;
    border: 0px none rgb(255, 255, 255);
    font: 16px / 24px "DINOT - Cond Bold";
    outline: rgb(255, 255, 255) none 0px;
}/*#IMG_34:after, #IMG_36:after*/

#IMG_34:before, #IMG_36:before {
    border-block-end-color: rgb(255, 255, 255);
    border-block-start-color: rgb(255, 255, 255);
    border-inline-end-color: rgb(255, 255, 255);
    border-inline-start-color: rgb(255, 255, 255);
    box-sizing: border-box;
    caret-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    column-rule-color: rgb(255, 255, 255);
    letter-spacing: 0.4px;
    text-decoration: none solid rgb(255, 255, 255);
    text-emphasis-color: rgb(255, 255, 255);
    text-rendering: optimizespeed;
    text-size-adjust: 100%;
    border: 0px none rgb(255, 255, 255);
    font: 16px / 24px "DINOT - Cond Bold";
    outline: rgb(255, 255, 255) none 0px;
}/*#IMG_34:before, #IMG_36:before*/


{% endstyle %}

<div id="DIV_1">
	<link href="https://thermos.com/cdn/shop/t/330/assets/trapeze-section.css?v=62427779100064555921742848365" rel="stylesheet" type="text/css" id="LINK_2" />
	<div id="DIV_3">
		<div id="DIV_4">
			<div id="DIV_5">
				<div id="DIV_6">
					<h2 id="H2_7">
						HOT STAYS HOT.<br id="BR_8" />COLD STAYS COLD.
					</h2>
				</div>
				<div id="DIV_9">
					<p id="P_10">
						Our durable double wall stainless steel vacuum insulated technology, you are certain to find a product that fits your lifestyle while delivering superior performance with exceptional durability
					</p>
				</div>
				<div id="DIV_11">
					<br id="BR_12" />
					<div id="DIV_13">
						<div id="DIV_14">
							<img width="auto" height="auto" src="https://thermos.com/cdn/shop/t/330/assets/school-icon.png?v=75311990708738015891742848330" alt="KID friendly Easy to open and close" id="IMG_15" />
						</div>
						<div id="DIV_16">
							<img width="auto" height="auto" src="https://thermos.com/cdn/shop/t/330/assets/school-icon-2_2x.png?v=141388835935649249511742848330" alt="Easy Clean dishwasher safe" id="IMG_17" />
						</div>
					</div>
				</div>
			</div>
		</div>
		<div id="DIV_18">
		</div>
	</div>
	<div id="DIV_19">
		<div id="DIV_20">
			<div id="DIV_21">
				<image id="IMAGE-ELEMENT_22">
					<img src="https://thermos.com/cdn/shop/files/IS2102GT4_ICON_OctMed_23_CAL_Lake_16A_0006_Steam_Pour_HotStaysHot_3000x1700_1024x1024_8d8f649b-433a-4501-b13a-c8e459abad22.webp?v=1714997428&amp;width=600" alt="" width="600" height="339.84375" id="IMG_23" />
				</image>
			</div>
			<div id="DIV_24">
				<div id="DIV_25">
					<h2 id="H2_26">
						HOT STAYS HOT.<br id="BR_27" />COLD STAYS COLD.
					</h2>
				</div>
				<div id="DIV_28">
					<p id="P_29">
						Our durable double wall stainless steel vacuum insulated technology, you are certain to find a product that fits your lifestyle while delivering superior performance with exceptional durability
					</p>
				</div>
				<div id="DIV_30">
					<br id="BR_31" />
					<div id="DIV_32">
						<div id="DIV_33">
							<img width="auto" height="auto" src="https://thermos.com/cdn/shop/t/330/assets/school-icon.png?v=75311990708738015891742848330" alt="trapeze-custom-icons" id="IMG_34" />
						</div>
						<div id="DIV_35">
							<img width="auto" height="auto" src="https://thermos.com/cdn/shop/t/330/assets/school-icon-2_2x.png?v=141388835935649249511742848330" alt="trapeze-custom-icons" id="IMG_36" />
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<style id="STYLE_37">.shopify_trapeze-section .kids-banner .kids-banner-title img {
    margin-bottom: 25px;
  }
  .shopify_trapeze-section .kids-banner.small--hide {
    max-height: 617px;
  }
  .shopify_trapeze-section .kids-banner .kids-banner-title p,
  .shopify_trapeze-section .kids-banner .kids-banner-title h2 {
    color: var(--thermos-white);
    font-family: var(--thermos-dinot);
    font-size: var(--thermos-font-size-19);
    letter-spacing: 0;
    line-height: var(--thermos-line-height-25-5);
  }
  .shopify_trapeze-section .trapeze-promo-title {
    margin: 0;
    padding: 0;
  }
  .shopify_trapeze-section .kids-banner .kids-banner-title p,
  .shopify_trapeze-section .kids-banner .kids-banner-title h2 {
    font-weight: var(--thermos-font-Weight-bold) !important;
    color: white;
    margin: 0;
  }
  .shopify_trapeze-section .kids-banner-title-wrap {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .shopify_trapeze-section .kids-banner .kids-banner-title:before {
    display: none;
  }
  .shopify_trapeze-section .kids-banner .kids-banner-title:after {
    background-color: var(--thermos-cornflower-blue) !important;
  }
  .shopify_trapeze-section .kids-banner .kids-banner-title {
    width: 48% !important;
    display: flex;
    justify-content: flex-end;
    background-color: var(--thermos-cornflower-blue) !important;
    padding: 5% 96px;
    position: relative;
  }
  .shopify_trapeze-section .kids-banner .kids-banner-title .kids-banner-title-wrap {
    max-width: 611px;
    width: 100%;
    z-index: 1;
  }

  .shopify_trapeze-section .kids-banner-picture {
    background-image: url('//thermos.com/cdn/shop/files/IS2102GT4_ICON_OctMed_23_CAL_Lake_16A_0006_Steam_Pour_HotStaysHot_3000x1700_1024x1024_8d8f649b-433a-4501-b13a-c8e459abad22.webp?v=1714997428&width=1024');
  }
  .shopify_trapeze-section .container-fluid.images {
    padding-right: 15px;
    margin-top: 24px;
    padding-left: 0;
  }
  .shopify_trapeze-section .fluid-img-wrapper {
    display: flex;
    justify-content: center;
  }
  .shopify_trapeze-section .trapeze-custom-icons {
    width: 217px;
  }
  .shopify_trapeze-section .trapeze_responsive_background {
    background-color: var(--thermos-cornflower-blue);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 15px 48px;
  }
  .shopify_trapeze-section .trapeze_responsive_background * {
    color: white;
  }
  .shopify_trapeze-section .trapeze-promo-title {
    padding-top: 24px !important;
  }
  .shopify_trapeze-section .trapeze-promo-title > p,
  .shopify_trapeze-section .trapeze-promo-title > h2 {
    font-family: var(--thermos-dinot-cond-bold) !important;
    font-size: var(--thermos-font-size-70) !important;
    letter-spacing: 0 !important;
    line-height: var(--thermos-line-height-70) !important;
    text-transform: uppercase !important;
  }
  .shopify_trapeze-section .btn.btn-secondary {
    width: fit-content;
    margin-top: 12px !important;
    color: var(--thermos-onyx) !important;
    border-radius: 40px;
    background: var(--thermos-white) !important;
    font-family: var(--thermos-dinot-cond-bold) !important;
    font-size: var(--thermos-font-size-20) !important;
    height: 42px;
    font-style: normal;
    letter-spacing: 0.3px !important;
    line-height: var(--thermos-line-height-20-4);
    text-align: center;
    text-transform: uppercase;
    padding: 9.7px 25px !important;
    border: none;
    transition: all 0.2s ease;
  }
  @media only screen and (max-width: 600px) {
    .shopify_trapeze-section .trapeze-promo-title {
      margin-top: auto !important;
      margin-bottom: auto !important;
    }
    .shopify_trapeze-section .trapeze_image_wrapper {
      padding: 0;
    }
    .shopify_trapeze-section .trapeze-promo-title > p,
    .shopify_trapeze-section .trapeze-promo-title > h2 {
      font-size: var(--thermos-font-size-34) !important;
      font-weight: var(--thermos-font-Weight-700);
      font-style: normal;
      letter-spacing: normal !important;
      line-height: var(--thermos-line-height-40) !important;
      text-align: center;
    }
    .shopify_trapeze-section .trapeze-promo-description > p,
    .shopify_trapeze-section .trapeze-promo-description > h2 {
      color: var(--thermos-white) !important;
      font-family: var(--thermos-dinot) !important;
      font-size: var(--thermos-font-size-14) !important;
      font-style: normal !important;
      letter-spacing: normal !important;
      line-height: var(--thermos-line-height-20) !important;
      text-align: center;
    }
  }
	</style>
</div>
