.t4s-product-form__buttons{
          width: 100% !important;
        min-width: 160px !important;
        max-width: 100% !important;
    }
}





/---------------- Custom CSS for only desktop -------------------/
@media (min-width: 1025px) {
.t4s-container{
  padding-left:800px !important;
}


/* Boton comprar ahora */


  


/* Seccion tambien te puede interesar  */

  
  

}




/---------------- Custom CSS for tablet, mobile -------------------/
@media (max-width: 1024px) {

}

/---------------- Custom CSS for only tablet -------------------/
@media (min-width: 768px) and (max-width: 1024px) {

}




/---------------- Custom CSS for only mobile -------------------/
@media (max-width: 767px){
.t4s-container{
  padding-left:0px !important;
}
}