/* Borde radius de las imagenes de la galeria */
.img-carrou {
  /*border: 1px solid #cdcdcd;
  border-radius: .7rem;*/
}

.imagen-fija {
  /*background: #29559e;
  padding: 2px;
  border-radius: 0.2rem;*/
  z-index: 10;
  height: 110px;
  /*display:none;*/
}

.before-after-hidden {
  display: none;
}

/* Acomoda el tamaño de los botones del producto para que se vean mas largos */
.t4s-product-form__buttons {
  width: 100% !important;
  min-width: 160px !important;
  max-width: 100% !important;
}

/* Desaparece los adicionales que aparecen abajo de los botones de añadir al carrito y de cantidad */
.inkybay_size_card_title {
  display: none;
}

.t4s-product-wrapper {
  background: white;
  border-radius: 1rem;
}

#EFOLI_CUSTOMIZE_IT_BUTTON {
  display: none;
}

div#SHOW_SIZE_COLOR_DIV {
  display: none;
}

.t4s-accordion-style-1 {
  display: none;
}

/* Custom CSS for only desktop */
@media (min-width: 1025px) {
  .t4s-container {
    padding-left: 800px !important;
  }
  
  .t4s-product-form__variants.is-btn-full-width__false .t4s-product-form__buttons,
  .t4s-product-form__variants.is-btn-full-width__false .t4s-product-form__submit {
    width: 100% !important;
    min-width: 160px !important;
    max-width: 100% !important;
  }
}

/* Custom CSS for tablet, mobile */
@media (max-width: 1024px) {
  /* Estilos para tablet y móvil */
}

/* Custom CSS for only tablet */
@media (min-width: 768px) and (max-width: 1024px) {
  /* Estilos específicos para tablet */
}

/* Custom CSS for only mobile */
@media (max-width: 767px) {
  .t4s-container {
    padding-left: 0px !important;
  }
}

/* Estilos para el popup */
.t4s-mfp-hide {
  display: none !important;
  opacity: 0 !important;
  visibility: hidden !important;
}

.mfp-content .t4s-mfp-hide {
  display: block !important;
  opacity: 1 !important;
  visibility: visible !important;
}

.popup-comparador-content {
  background: #fff;
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
  position: relative;
}