/*borde radius de las imagenes de la galeria */
.img-carrou {
  border: 1px solid #cdcdcd;
  border-radius: .7rem;
}
.imagen-fija {
  background: #29559e;
  padding: .4rem;
  border-radius: 0.2rem;
  z-index: 10;
}



/* acomoda el tamaño de  los botones del producto para que se vean mas largos */


.t4s-product-form__buttons{
          width: 100% !important;
        min-width: 160px !important;
        max-width: 100% !important;
    }
}
/* desaparece los adicionales que aparecen abajo de los botones de añadir al carrito y de cantidad*/
.inkybay_size_card_title {
    display: none;
}


.t4s-product-wrapper {
  background: white;
  border-radius: 1rem;
}

element.style {
    width: 200px;
    margin-right: 5px;
    float: left;
    display: none;
}
#EFOLI_CUSTOMIZE_IT_BUTTON {
  display:none;
}
div#SHOW_SIZE_COLOR_DIV {
    display: none;
}

.t4s-accordion-style-1 {
    display: none;
}
/---------------- Custom CSS for only desktop -------------------/
@media (min-width: 1025px) {
.t4s-container{
  padding-left:800px !important;
}
.t4s-product-form__variants.is-btn-full-width__false .t4s-product-form__buttons, .t4s-product-form__variants.is-btn-full-width__false .t4s-product-form__submit {
        width: 100% !important;
        min-width: 160px !important;
        max-width: 100% !important;
    }

/* Boton comprar ahora */


  


/* Seccion tambien te puede interesar  */

  
  

}




/---------------- Custom CSS for tablet, mobile -------------------/
@media (max-width: 1024px) {

}

/---------------- Custom CSS for only tablet -------------------/
@media (min-width: 768px) and (max-width: 1024px) {

}




/---------------- Custom CSS for only mobile -------------------/
@media (max-width: 767px){
.t4s-container{
  padding-left:0px !important;
}
}